[2020-05-14 16:14] tristanlatr opened #1 "Migrating issues"
In order to keep track of the issue already existing in https://github.com/tiagovaz/saskatoon/issues

We could use https://www.alexhadik.com/writing/gitmover/ to transfert all milestones, labels, and issues between repositories.

[2020-05-15 00:41] tristanlatr commented on #1
Migration will be manual

[2020-05-15 00:41] #1 closed

[2020-05-15 00:55] tristanlatr opened #2 "Include "My activities" as a session of the Dashboard"
From : https://github.com/tiagovaz/saskatoon/issues/12

[2020-05-15 00:59] tristanlatr opened #3 "Cleaning and adapting to best django practices"
From: https://github.com/tiagovaz/saskatoon/issues/16

 pep8 python
 TravisCI
 Coveralls
 CCBV
 Split application
 I18N
 urls routage

[2020-05-15 01:01] tristanlatr opened #4 "Handle harvest due date based on history of harvests"
From: https://github.com/tiagovaz/saskatoon/issues/22

[2020-05-15 01:04] tristanlatr opened #5 "Create map of equipment location"
This map could have all kind of the equipment items: bikes, trailers, ladders, pols, etc.
With link to appropriate contact ressource

[2020-05-15 01:08] tristanlatr opened #6 "Add help text when over harvest or property status icon"
From : https://github.com/tiagovaz/saskatoon/issues/29

Test from Annex-D could be useful to add as help text for property statuses.

[2020-05-17 22:56] tristanlatr opened #8 "Adjust fruit types list"
Ann-elise was working on this issue.

Add "unspecified" colours/types to the list of fruit tree types.
Change name for blue grapes listed as “vigne rouge”.

From: https://github.com/tiagovaz/saskatoon/issues/178

Is it just about creating new TreeTypes entries in the Django admin panel ?

[2020-05-17 23:10] tristanlatr opened #9 "Unify the layout of all buttons across all windows"
- The "+" button in the harvest comment box should be replaced by a "Add comment" green button as "Add harvest" button  in property page

- The "+" button in the harvest pickers box should be replaced by a "Add picker" green button as "Add harvest" button in property page

[2020-05-17 23:21] tristanlatr opened #10 "Improve community list filtering and columns"
Allow the filtering by Role in the community panel.
Allow to show the number of picks the pickers got accepted / refused.

See also: https://github.com/tiagovaz/saskatoon/issues/33

[2020-05-17 23:22] tristanlatr opened #11 "Implement equipment reservation workflow"
SEE: https://github.com/tiagovaz/saskatoon/issues/35

[2020-05-17 23:28] tristanlatr opened #12 "Create new actor form (pickleader / owner / organization)"
Currently, this can only be done through admin.
So that would allow new Beneficiaries organization to self-sign up for example.

[2020-05-17 23:28] tristanlatr commented on #12
From: https://github.com/tiagovaz/saskatoon/issues/47

[2020-05-17 23:41] tristanlatr opened #13 "User management"
Allow several levels of authorizations.

See: https://github.com/tiagovaz/saskatoon/issues/67

[2020-05-17 23:44] tristanlatr opened #14 "Improve view for Beneficiary organizations"
Allow better text management , relevant contact made clear ,  links to website, etc .

[2020-05-17 23:45] tristanlatr opened #15 "Create view for picker history/profile"
See: https://github.com/tiagovaz/saskatoon/issues/75

[2020-05-17 23:46] tristanlatr opened #16 "Add "under development" notes for missing features"

[2020-05-17 23:47] tristanlatr opened #17 "Organization should have more than one contact"
change the model to to ManyToMany field

[2020-05-17 23:48] #14 closed

[2020-05-17 23:49] tristanlatr opened #18 "Edit Beneficiaries button not working"
The hello edit button causes a
"Equipment with ID "change" doesn't exist. Perhaps it was deleted?" Error in the django admin panel

[2020-05-17 23:52] tristanlatr opened #19 "Improve the fruits recipient data entries process"
See: https://github.com/tiagovaz/saskatoon/issues/87

[2020-05-17 23:58] tristanlatr opened #20 "Implement property photo removal"
Add a delete button.

[2020-05-17 23:59] tristanlatr opened #21 "Add comments box to properties"
Allow users to write comments to properties

[2020-05-17 23:59] tristanlatr opened #22 "Improve dashboard"
See: https://github.com/tiagovaz/saskatoon/issues/105

[2020-05-18 14:57] tristanlatr opened #23 "Yearly maintenance workflow"
Every year, some manual work need to be done, for instance , resetting all properties authorization statuses to "not yet authorized". Check for duplicate properties.
Ensure new year shows up in the list of seasons.

[2020-06-03 18:28] tristanlatr opened #24 "Configurable maximum in progress harvests per pickleader"
Pick-leaders shouldn't be able to adopt 10 harvest at the beginning of the season.

One the harvest is succeeded, cancelled or un-adopted, the current pick leader harvest counter would decrease and allow them to adopt a new harvest.

The admin panel should contain a configurable value for this global option applied to all pick leaders .

Default could be 3

[2020-09-28 15:14] tristanlatr opened #25 "Document backup/restore procedure"
From https://github.com/tiagovaz/saskatoon/issues/107

[2020-09-28 15:27] tristanlatr opened #26 "Add tests"
From https://github.com/tiagovaz/saskatoon/issues/116

This is an interesting ressource: https://pybit.es/selenium-pytest-and-django.html

[2020-09-28 15:32] tristanlatr opened #27 "Configure CI"
From https://github.com/tiagovaz/saskatoon/issues/126

May be we could use github actions as it's waaaay faster and simpler config.

[2020-09-28 15:39] tristanlatr opened #28 "Image incorrectly added to property"
From https://github.com/tiagovaz/saskatoon/issues/127

Are there certain image file constraints to follow? If yes, this should be clear to the user.

Saskatoon property #196 has an invalid image for instance.

[2020-09-28 15:42] tristanlatr commented on #22
when pickleaders sign in, show important messages for them (vs. dashboard/banner for all users showing messages relevant to the community)

how many lbs of fruit picked, how many picks succeeded for individual (on their login) or for the whole collective

how many orphan trees, by neighbourhood. How many of all the other status

how many lbs received per beneficiary oganization

less urgent: allow

[2020-09-28 15:44] tristanlatr commented on #11
See also: https://github.com/tiagovaz/saskatoon/issues/129

This feature is wanted for a long time! We should also consider the fact that several trailer can be stored in a single equipment point. Admins should be able to add / remove / add details to Equipment infos. The way I see things, we can borrow 4 things from the equipment point: bike(+helmet!), trailer(+tools), harvest equipment(pols, glo

[2020-09-28 15:48] tristanlatr commented on #5
From https://github.com/tiagovaz/saskatoon/issues/131

Minimal features:

Mapping of Trees, equipment point, beneficiary organizations, partners
Show distance from pick address to beneficiary organization at the harvest page
Be aware of privacy regarding property addresses (for Trees only)
Fudge the points to not show exact tree locations
Opt-out option for tree owners to have their location shown

[2020-09-28 15:52] tristanlatr opened #29 "Create a public FAQ about calendar usage"
From https://github.com/tiagovaz/saskatoon/issues/133

Create a FAQ on how the calendar works--> "How to Sign Up for a Pick".

[2020-09-28 15:56] tristanlatr opened #30 "Add legend with more info to the Calendar"
From: https://github.com/tiagovaz/saskatoon/issues/135

Add a permanent legend on the calendar for the colour coding of picks.
The legend would make it easier for volunteers to find out if a pick needs volunteers or is full.

[2020-09-28 16:02] tristanlatr opened #31 "Ability to request a "co-pickleader" for a harvest (private and public)"
From https://github.com/tiagovaz/saskatoon/issues/144

Private: In addition to requesting pickers, the pickleader could separately request a “co-pickleader” and this shows up in the public harvest posting in Saskatoon.

Public: Then the volunteers who sign up for this harvest would have the option of checking a checkbox in Saskatoon asking if they are willing and able to help transport equipment a

[2020-09-28 16:05] tristanlatr opened #32 "Kudos messages for pickeaders when harvest status is set to "Succeeded""
From: https://github.com/tiagovaz/saskatoon/issues/146

Ideas for text (this will need to bilingual):

“You’ve just led your "nth" fruit harvest this season! Thank you for supporting your community!”

May be in a green box somewhere, but not a pop-up.

[2020-09-28 16:10] tristanlatr opened #33 "Display fruits icons 🍎🍊🍇🍒🍏"
From: https://github.com/tiagovaz/saskatoon/issues/115
https://github.com/tiagovaz/saskatoon/issues/148
https://github.com/tiagovaz/saskatoon/issues/136

[2020-10-03 16:02] tristanlatr commented on #23
Linked to duplicated property records ticket https://github.com/tiagovaz/saskatoon/issues/191

[2020-10-03 16:03] tristanlatr opened #34 "Notify tree owner once "pending" status is removed"
Send automatic email to tree owner to indicate that their tree subscription was reviewed and completed.
From https://github.com/tiagovaz/saskatoon/issues/192

[2020-10-03 16:06] tristanlatr commented on #22
Other ideas: https://github.com/tiagovaz/saskatoon/issues/181

[2020-10-03 16:09] tristanlatr opened #35 "Send automatic reminder for pick leader report"
Automatic email to pick leader 1 day after scheduled time for harvest: “We hope you enjoyed yesterday's harvest! Please click here to record the amount of fruit harvested and donated, and don’t forget to change the status of your harvest to “Succeeded”! Thanks for your hard work!”
From https://github.com/tiagovaz/saskatoon/issues/185

[2020-10-03 16:15] tristanlatr opened #36 "Adjust Beneficiary organizations fields list with what has been asked in real life"
Fields:

- Organization
- Adresse électronique
- Address
- Phone number, (+ contact name, if there is one )
- Contact person (and role/title)
- Other contact persons and/or phone number and/or email address
- Neighbourhood
- Notes & comments

From: https://github.com/tiagovaz/saskatoon/issues/162

[2020-10-03 16:16] tristanlatr opened #37 "Send automatic emails for non-selected pickers"
From: https://github.com/tiagovaz/saskatoon/issues/179

[2021-02-19 03:21] tristanlatr opened #41 "Installation issue"
Hi @tiagovaz ,

Creating an issue to track the installation process issue I'm getting when trying got instal saskatoon-ng on my mac with virtualenv.

Once we get this working, I'll try to have some basic CI testing setup, like with `tox` and `mypy`, `pytype`, `pyflakes` (and, of course, the unit tests when we have them written)

When following the INSTALL.md:

Here is the traceback I'm getting whe

[2021-02-19 17:02] tiagovaz commented on #41
The code indeed tries to access the database during the migration processing (before the table is created), I'm trying to find where is the issue.

[2021-02-19 17:34] tiagovaz commented on #41
It was in the filters. We just need to skip checks during migration. I added that option in INSTALL. I'm working on next steps for the installation process.

[2021-02-19 17:34] #41 closed

[2021-02-20 18:18] tristanlatr opened #42 "Dockerfile"
Would be good to have a `Dockerfile` to easily run a new Saskatoon instance for testing purposes.

Then, I can work on writing some tests with Selenium.

But we should still write some python unit tests.

[2021-03-19 18:15] tristanlatr opened #46 "pyflakes"
Here are the issue discovered by pyflakes:

[code]

I'll work on this.

[2021-03-27 17:24] tiagovaz opened #51 "Highlight current active menu"
Highlight active menu on top (harvests, properties etc)

[2021-03-27 19:28] tiagovaz opened #52 "Add language support to new template"
It seems all the l10n core setup is already there, but we need to add it to the new template.

[2021-03-27 22:56] tiagovaz opened #53 "Add Filter clear button"
In each view.

[2021-03-28 00:04] tassia opened #54 "Add active filters to views"
After filtering entries, we want to see the active filters right away.

[2021-03-28 12:19] tiagovaz opened #55 "Add real tabulation for all list views - Avoid Redis"
As the database grows, we're getting some import lag on loading the list views.

We currently use a same DRF-based view for delivering both html and json. This has some advantages, but as we get away from Django native views, we start getting trouble integrating to other libraries. That said, I couldn't make a server-side pagination work with our DRF views and filters together with the DataTables

[2021-03-28 15:13] tiagovaz opened #56 "Add export widgets to view tables"
Look at previous version which js from datatables are needed.

[2021-03-28 15:14] tiagovaz opened #57 "Add forget password feature to current login form"
Add forget password feature to current login form

[2021-03-28 15:14] tiagovaz opened #58 "Add admin menu / submenus on topbar"
Add admin menu / submenus on topbar

[2021-03-28 15:16] tiagovaz opened #59 "Add a fixture for initial deployment / tests"

[2021-03-30 03:50] tassia opened #61 "Change them color to old blue"

[2021-04-02 14:40] tiagovaz opened #62 "Fix boolean field on auto-generated filter forms"
For instance: http://localhost:8000/equipment/create

The "Shared" field fails to work on my current browser (Firefox under Linux)

[2021-04-02 20:25] tiagovaz opened #63 "Fix bootstrap css on auto-select fields"

[2021-04-05 16:11] tiagovaz opened #64 "Add a popover or something similar to Calendar events"
Instead of using a direct link to the RFP form, first open a popover (on click, not on hover) with basic information about the harvest. If the harvest is still accepting pickers, then offer the user a link to the request form.

[2021-04-08 20:22] #27 closed

[2021-04-14 18:14] tristanlatr commented on #26
Here is also something that should help: a template django project using typing and has some template models tests: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/tests/test_apps/test_main/test_models/test_blog_post_model.py

[2021-04-21 04:09] tristanlatr opened #67 "Something is broken: django.db.utils.OperationalError: no such table: harvest_harvest"
Here is the steps I took to reproduce the error, I'm just following the `INSTALL.md`:

[code]

[2021-04-26 03:51] tristanlatr commented on #67
It looks like importing `HarvestFilter` have side effects such that it tries to iterate over `Harvest.objects.all()`.

If I understand correctly, it initiate the values of `HarvestFilter.seasons` based on the dates of the picks on the database at a moment when the database has not been initiated yet.

The import line in `api.py`:
[code]
It's been a while that this import is present in the file, so

[2021-04-27 01:59] tiagovaz commented on #67
Hi @tristanlatr, I had a look and it seems the problem is with the missing migrations. If you check the output, you'll see that no harvest nor member models have been migrated.

You're right about the harvestfilter issue, but this one we can workaround with --skip-checks

I've added the migrations files to git and tried here and worked. Now we need to create some fixtures and hopefully anyone will

[2021-04-28 18:53] tristanlatr commented on #26
I'm currently adding somme dummy tests that works with Selenium and [Chrome driver](https://sites.google.com/a/chromium.org/chromedriver/).

I've also used [python-invoke](http://docs.pyinvoke.org/en/stable/index.html) to automate some auto-reply to the ./manage.py script output.

I'll also work on a test database - if you, @tiagovaz  don't already have such database, that we could package in the

[2021-04-28 22:48] tristanlatr commented on #67
It's working! :D

[2021-04-28 22:48] #67 closed

[2021-04-29 04:59] tristanlatr opened #68 "Removing and avoiding the start imports"
Hi @tiagovaz ,

I'm trying to get rid of the things like:

[code]

Could we please not use start imports anymore in the new code and thinking about refactoring such that we can trace each python identifier back to it's source. It will also help the static checkers to report more informative errors.

Thanks :)

[2021-04-29 11:37] tiagovaz commented on #68
Sure, go ahead. I'm still with tons of blocking issues and this is not my priority now. I'm using Pycharm free edition and it's a big mess with imports.

[2021-04-29 14:03] tristanlatr opened #69 "Fix Deprecation Warnings"
When running tests, it raises lots óf deprecation warnings like this one:

[code]

I think a automated search/replace could fix the issues.

[2021-05-05 13:14] tristanlatr commented on #61
I think this issue can be closed

[2021-05-05 13:17] tristanlatr commented on #52
Hi, not sure this has anything to do with translation, but it seems that some of the translations are working some others are not.

The covid warning banner is translated, but not the tab titles for instance.

[2021-05-05 13:26] tiagovaz commented on #52
Hi, yes, we need to translate lots of strings both in templates and internally. It can be done by someone from the collective, no tech skill required. I'll ask tassia to update the instructions.

[2021-05-05 13:26] tristanlatr opened #71 "Improve the workflow for adding properties"
When a tree owner confirm it's participation to the season, they fills the `create_pending` form.
This form can either lead to creating the whole new property or to merge the information with already existing property.
This process is very frustrating for the core members, since we need to check manually the address of the property.
We need some semi-automated workflow to determine if it's a dupli

[2021-05-05 13:59] tristanlatr opened #72 "Logoff should redirect to the default login page, not the djando admin login page"
Currently logoff redirects me to a django admin page, maybe it's because I'm an admin ? In any case it should be changed I think.

Also another bug with redirection is that if we load the login form without the `next` parameters, it goes automatically to `/accounts/profile`, which is a 404 not found.

[2021-05-05 14:22] tristanlatr commented on #54
Yes, and, ideally the filters should display on the side on screens that are large enough, like in the older version.

[2021-05-05 14:24] tristanlatr opened #73 "Allow showing "All" in the list views"
Currently, we can only show 100 at a time.

![by default 2021-05-05 at 10 22 59 AM](https://user-images.githubusercontent.com/19967168/117156605-df19c700-ad8b-11eb-857b-a3228d3d3ed5.png)

[2021-05-05 14:29] tristanlatr commented on #59
I've created something for the testing, I don't know if you would call that a "fixture".
[createtestsuperuser.py](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/setup-tests/saskatoon/tests/createtestsuperuser.py) and [runtests.sh](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/setup-tests/saskatoon/tests/runtests.sh)

[2021-05-05 14:38] tiagovaz commented on #59
This is nice to have, but by fixture I meant a json dump of a populated database for testing as described here: https://docs.djangoproject.com/en/3.2/howto/initial-data/

[2021-05-05 14:40] tristanlatr opened #74 "Show the user name or email of the person connected"
Maybe we should even have a profile page?

For the short term, just something like "Welcome to Saskatoon, My Name"

[2021-05-05 14:42] tristanlatr commented on #42
Maybe the Dockerfile is not really needed actually

[2021-05-05 14:42] #42 closed

[2021-05-05 14:53] tristanlatr opened #75 "dropdown lists always empty in "add harvest" and "add property" forms"
Hi,

Looking at `/harvest/create` and `/property/create` pages and it seems that the dropdown list of "Property*", "Pick leader" and "Owner" are always empty.

It's working as expected from the admin panel form tho, so I think something is broken with these drop-downs.

Also one thing: it would be really helpful to have a search box integrated inside it like in the older Saskatoon version.

Thanks

[2021-05-05 16:28] tristanlatr opened #76 "CSS: The "New harvest" button gets hidden on smaller screens"
It seems that the issue is also present for the properties and other list pages as well.

[2021-05-05 16:38] tristanlatr commented on #75
This happens on safari browser only, tried with Chrome and it's perfect.

[2021-05-07 16:39] tristanlatr opened #77 "Have clear terms of services and confidentiality policy"
This might not be an issue that will be resolved inside Saskatoon codebase.

But maybe Saskatoon should include a customizable terms of services and confidentiality policy page, that we could then fill.

It's been a while that I'm thinking about this, and we might already have solved this problem in the past.

Anyway, each actor should be aware of the exact usage of their data, for instance, prope

[2021-05-07 17:01] tristanlatr commented on #9
This is fixed by the new version

[2021-05-07 17:06] tristanlatr commented on #9
Oops I went a little too fast.

Only the "+" icons is still used for comments, pickers requests for participation and fruit distribution.

For accessibility, it would be best that the button says whats it's about.:  "+ comment", "+ picker" and "+ distribution", for instance.

[2021-05-18 17:52] tristanlatr commented on #61
I'm closing it since I suspect it has been addressed.

[2021-05-18 17:52] #61 closed

[2021-05-19 16:51] tristanlatr opened #78 "Move mail server configuration to the `.env` file"
I'm not sure where the mail server configuration is stored right now.

I think it should be stored in the `.env` file.

[2021-05-25 17:27] qusvv opened #79 "Actor __str__ method in member.models.py raises RelatedObjectDoesNotExist on Admin change"
When changing harvestyield in Django Admin, e.g. http://localhost:8000/admin/harvest/harvestyield/963/change/
[code]

E: Actor has no organization.

[2021-05-25 18:15] qusvv commented on #79
I believe the try/except structure was problematic here, even though it worked well when listing actors on http://localhost:8000/admin/member/actor/

See  commit : 8e6bde5d2e14d24dbe4e41bb7be8e816c4a65c4d

[2021-05-25 18:15] #79 closed

[2021-05-25 18:44] qusvv commented on #69
I fixed the ugettext_lazy one in 367bccca9bea6ea7f108173f271691234efe3844
However there are still warnings about BooleanFields:
[code]

[2021-05-25 18:50] qusvv commented on #69
Removed NullBooleanFields
See commit 38cb6e7b2d86573a9173205644f69b338a29ec63
Warning: new migration file was created in harvest/migrations/

[2021-05-25 18:51] #69 closed

[2021-05-25 19:56] qusvv commented on #28
What is the state of this? I don't see any field to add image(s) in the PropertyForm: http://localhost:8000/property/create

Regarding the image file constraints I think we could use a `clean` method to get `cleaned_data = super(PropertyImageForm, self).clean()` from PropertyImageForm and then resize / convert the image to a specific size / format using PIL

E.g. https://stackoverflow.com/question

[2021-05-25 21:44] tristanlatr commented on #28
Hi Qynn,

The older version of saskatoon allows images to be uploaded, most probably, the images are still somewhere in database.
On the Property view, there was a button "Add image" button:
<img width="611" alt="by default 2021-05-25 at 5 43 11 PM" src="https://user-images.githubusercontent.com/19967168/119572421-b0867f00-bd80-11eb-9c2c-bc22e3ef7a26.png">

This is the link to the property with an

[2021-05-25 21:55] qusvv commented on #28
@tristanlatr Ok thanks! yea I've seen there were images in the database through the admin panel (using .sql dump from saskatoon-prod)

No I don't have an account yet on https://saskatoon.lesfruitsdefendus.org, I'd appreciate if you could create one, thanks!

[2021-05-26 01:47] tiagovaz commented on #28
Hi, the backend supports images for properties. I didn't code the frontend for that in the new system because [cof cof] no property image has even been uploaded as far as I can tell. So I just removed it from my priority list. It'd be nice to have it back at some point though.

[2021-05-26 11:45] tristanlatr commented on #28
I think there is a couple of properties that have images. But true that it's really not common.

We've been telling the PL to upload the pictures of theirs picks though!

[2021-05-26 21:51] qusvv opened #81 "Clarify measurement units"
- "Height of lowest fruits" in meters or feet in Property Add Form?
- Weight is in lbs in harvestyield Change Form but displays in kg in Admin display_list

[2021-05-26 21:58] qusvv opened #82 "Filter available Trees in HarvestYield Create/Change Forms"
Would be nice to filter the available trees in the HarvestYield Form based on the trees selected in the Harvest Form

[2021-05-26 22:01] qusvv opened #83 "add email field to Person ?"
I have noticed many contact persons had an email address registered in the Comments field. Would it make sense to add an email field to the Person model?

[2021-05-26 22:09] qusvv opened #84 "Auth.user Create Form doesn't have the 'person' field"
Is this on purpose? (e.g. so we can create an authorized user before a related person has been created)

The person field in Auth.User model does not have a `Blank=True` option, meaning a person must necessarily be associated to the authorized user before saving the the Auth.User Change Form.

I see two options:
1. Make the field Blank=True
2. Add 'person' to : AuthUserAdmin(UserAdmin):
[code]

[2021-05-26 22:12] tristanlatr commented on #83
Thanks for opening this,

There is also the fact that an email property already exists in the [`member.models.AuthUser`](https://lesfruitsdefendus.github.io/saskatoon-ng/member.models.AuthUser.html) model.

So we would need to fallback to the `AuthUser`'s property if the `Person` has an account I suppose?

[2021-05-27 00:10] qusvv commented on #59
So far the saskatoon.json fixture that I have created is a *minimal* database containing:
- 1 auth.user (superuser)
- 1 organization (fruits défendus)
- 1 fake person w/ 1 property
- 1 harvest w/ 3 harvest yields
- 1 equipment
- neighborhoods
- tree types
- equipment types

Let's discuss what we would like for a *testing* saskatoon-test.json fixture

[2021-05-27 01:06] tristanlatr opened #86 "Handle static files properly"
As mentioned by @qusvv ,

[Whitenoise](http://whitenoise.evans.io/en/stable/django.html#django-middleware) would be good a solution.

[2021-05-27 13:19] tiagovaz commented on #84
I think Blank=True won't do any harm to the current workflow.

[2021-05-27 13:27] tiagovaz commented on #84
Well I'm still not sure actually :\ I think there should be a reason to not have authuser disconnected to a Person. So, my question is: why would we need to have an user disassociated with a Person?

[2021-05-27 13:29] tiagovaz commented on #83
Wouldn't this create a confusion given that usernames are necessarily email addresses as well? As I can remember, the current approach is to always create an authuser associated to a Person (that probably answers #84). So that we have the authuser email field as the person email, avoiding two email fields. And if Person has no interest to log-in in the system, we just don't give them such permissi

[2021-05-27 13:30] tiagovaz commented on #81
Yes, please, this needs fix!

[2021-05-27 13:52] tristanlatr commented on #81
International System of Units should be used everywhere I think

[2021-05-27 19:31] qusvv commented on #84
Yes I agree a person should be associated with an auth.user, and this as soon as it is created with the auth.user Create Form (so option 2). It just means the person must be created before the auth.user, I was just wondering if it went against your workflow.

[2021-05-27 19:41] qusvv commented on #83
Oh I just meant adding a dedicated, validated email field to the Person model (Blank=True) so pickleaders can add a property owner's email instead of using the comments.

But yes as Tristan mentioned, if this person gets associated with an auth.user, their email field should match (e.g. when saving the auth.user form?)

[2021-05-27 19:55] tristanlatr commented on #84
The best would be to have only one form to create new users. No matter if they are admins, pick leaders or later tree owners , etc

[2021-05-27 20:23] qusvv commented on #81
I'm not sure.. ideally i'd say let's add a `unit` field in HarvestYield but then we will have to deal with conversions before summing the total etc...
If everyone is okay I will push a modification for height in feet (help text in harvest form) and total weight in lbs (in admin inline display) for now.
Note this will create new migrations.

[2021-05-27 20:32] tristanlatr commented on #81
I think the core has been putting this values in meters.
For instance this property https://saskatoon.lesfruitsdefendus.org/harvest/properties/432/update has "2" for the  "Height of lowest fruits" value, so I doubt this is in feets.

[2021-05-27 20:51] qusvv commented on #84
I have used Auth Groups in the past and find them very useful. This way we could create three groups that each get different privileges: admins, pick-leaders, owners. Switching from one group to another would be very easy, also belonging to multiple groups is possible. Just putting this out there, would need to evaluate the practical implications.

On the same topic I think the Person Dropdown men

[2021-05-27 21:36] qusvv commented on #84
This is what I meant : 66ba2f706a0eb2c489b190bc4359f90ccfca0b78
I pushed to a new authuser branch for now and we can discuss bigger model changes tomorrow

[2021-05-27 21:46] qusvv commented on #81
Ok I can put meters then, as long as people understand each other that's fine but if noone is incentivized to either enter the value in meters or add the units in the text field you'll get inconsistent data.

[2021-05-27 21:51] #81 closed

[2021-05-27 21:57] qusvv commented on #84
Issues #13 seems related. I would be down to tackle this

[2021-05-30 15:00] tiagovaz commented on #64
The calendar is the public view for pickers willing to join a harvest. Therefore, the harvest info should be as clear as possible. We need to improve how it looks in the calendar view, but also on the list view.

[2021-05-30 15:05] tiagovaz commented on #71
As we discussed in the last meeting, we could think of generating a one-time link for the property update by the owner. Maybe using the following: https://simpleisbetterthancomplex.com/tutorial/2016/08/24/how-to-create-one-time-link.html

[2021-05-30 15:07] tiagovaz commented on #63
Fixed using another autocomplete lib.

[2021-05-30 15:07] #63 closed

[2021-05-30 15:07] tiagovaz commented on #62
Fixed a few weeks ago already.

[2021-05-30 15:07] #62 closed

[2021-05-30 15:08] tiagovaz commented on #59
Done!

[2021-05-30 15:08] #59 closed

[2021-05-30 15:08] tiagovaz commented on #58
Done.

[2021-05-30 15:08] #58 closed

[2021-05-30 15:09] tiagovaz commented on #52
Lots of translation is still missing, but the l10n structure is well integrated to the new template.

[2021-05-30 15:09] #52 closed

[2021-05-31 15:26] qusvv opened #87 "Can't update RequestForParticipation"
I get alert message "Sorry, this harvest is not open for requests" when trying to update a request for participation: e.g. `http://localhost:8000/participation/update/1/` meaning `{% harvest.is_open_to_requests == False %}` in `participation_create.html`

- I am logged in as a pick leader
- `harvest.status` is set to "Date-scheduled"
- `harvest.is_publishable` returns True
- `harvest.is_open_to_re

[2021-05-31 16:35] qusvv commented on #19
1. Filter Trees based on `harvest.trees`
2. Preload inline forms for each recipient
3. Fix total of lbs (multiplied by 10 in French)

[2021-06-02 00:12] qusvv commented on #13
Core members should be able to delete a property without using the admin panel

[2021-06-02 16:15] qusvv opened #88 "Fix harvest.total_distribution format in french"
`USE_L10N=True` in `settings.py` is incompatible with `counterup` js  and causes total fruit yield to skip the comma in french

https://docs.djangoproject.com/en/3.2/topics/i18n/formatting/

None of these work:
`{{ harvest.total_distribution|unlocalize|floatformat:1 }}` >> floatformat relocalizes to comma
`{{ harvest.total_distribution|floatformat:1|unlocalize }}` >> NaN

`{% localize off %} {{ ha

[2021-06-02 17:01] #88 closed

[2021-06-02 17:29] qusvv opened #89 "HarvestForm Update Fails silently"
e.g. http://localhost:8000/harvest/update/1/   where 1 is an already existing harvest.

Send does not save the form:
- `save()` doesn't' get called in `HarvestForm` from `harvest/forms.py`
- `get_success_url()` doesn't get called in `HarvestUpdateView` from `harvest/api.py`

I find this really weird. I don't recall this being the case last week. Creating a new harvest does work though. Could you p

[2021-06-02 20:51] qusvv commented on #76
`breadcomb-report` class was hidden in `responsive.css. `

All these files use this class:
[code]

Please report any side effect you might come across.

[2021-06-02 20:51] #76 closed

[2021-06-03 16:10] tristanlatr opened #90 "Avoir un lien franco et un lien anglo pour chaque formulaire / page"
Sur le plan technique, on pourrait accepter un paramètre URL `/property/create_public?lang=en` ou `/property/create_public?lang=fr`, qui forcerait la traduction.

[2021-06-03 16:21] tristanlatr opened #91 "Register of all active PL"
It would be great to have a status in the community view  to be able to filter by *active* pick leaders.

Then, we need to define what's an active pick leader.
Maybe a Pick Leader that adopted a pick in the last 2/3 seasons could be considered active ?

We could also have a field like "Last login time".

I guess the motivation behind this feature request is to be able to send emails to the active

[2021-06-03 16:28] tristanlatr commented on #11
Here are some additional notes from the core:

- We should be able to check in/out that all equipment is there in good shape or add notes

[2021-06-06 00:59] tristanlatr opened #93 "Community view: Fix the link to the harvests in the "Picks leading" column"
As you can see at the bottom left of the image, the green icon links to `/harvest/harvest.id`

![by default 2021-06-05 at 8 58 40 PM](https://user-images.githubusercontent.com/19967168/120909213-cfb6c380-c640-11eb-8e07-2b27275d41aa.png)

[2021-06-06 01:04] tristanlatr opened #94 "Harvest View: Display the status of the harvest with larger text"
It's currently displayed in the same box as the total amount of fruits picked, and it's not a really big text (see image).

I think it should have it's own box and the total amount of fruit should only display if the pick has been succeeded.

![by default 2021-06-05 at 9 03 54 PM](https://user-images.githubusercontent.com/19967168/120909277-8adf5c80-c641-11eb-8309-5fcb4600829a.png)

[2021-06-06 01:06] tristanlatr commented on #89
What is the status of the pick ?
Seems to work on my end.
What are the exact step you took , UI wise ?

Thanks,

[2021-06-06 01:12] tristanlatr opened #95 "Have welcome page instead of the login form directly"
<img width="1248" alt="by default 2021-06-05 at 9 11 17 PM" src="https://user-images.githubusercontent.com/19967168/120909384-93846280-c642-11eb-8deb-c3a26179c9da.png">

[2021-06-06 01:17] tristanlatr commented on #87
Hi, I've created a new Pick on my local instance, set it "Date-scheduled", open another browser, go to the calendar, and when I clicked "send" on the request for participation, I got this error:

Saskatoon version: bc11ac4

[code]

[2021-06-06 14:12] qusvv commented on #89
Wow no idea what happened, I had tried on both develop and master branches but now it works again fine. Thanks for double checking!!

[2021-06-06 14:12] #89 closed

[2021-06-06 14:14] qusvv commented on #87
@tristanlatr  thanks for your feedback, I'll look into it!

[2021-06-06 14:21] qusvv commented on #87
@tristanlatr were you able to select a pick-leader when you created  your new harvest?

[2021-06-06 14:47] tristanlatr commented on #87
Yes

[2021-06-06 14:49] tristanlatr commented on #89
We need to have those automated tests, it's sketchy !

[2021-06-06 17:10] qusvv commented on #78
I would be interested in documenting the stmp configuration / adding variables in the `.env` (including a `SASKATOON_FROM_EMAIL=info@lesfruitsdefendus.org` variable (see FIXME in `harvest/signals.py`)

https://docs.djangoproject.com/en/3.2/topics/email
I was expecting to find the EMAIL_HOST and EMAIL_PORT  variables in `settings.py`
@tiagovaz do you mind giving a couple details on how you have con

[2021-06-06 18:31] qusvv opened #97 "Participation request fails if pick leader is None ("Missing")"
- create new harvest (status = date scheduled) without assigning a pick leader
-  send participation request (e.g. from the calendar)
[code]

Looking at the `RequestForm` `save()` method in `harvest/forms` I see that an email is sent to participants with the pickleader's contact information. I assume then that no participation request should be made until a pick leader is selected.

I see a couple

[2021-06-06 19:00] qusvv commented on #87
Ok, I start to wonder if these *edit picker request* pencils in harvest page should be here in the first place as there is no `participation_update.html` template that would prefill data for an existing participation request.

The `RequestForParticipationUpdateView` in `harvest/api.py` does not pass any data along the form so `harvest` object is empty and  `harvest.is_open_to_requests` is `False`

[2021-06-06 19:34] qusvv commented on #84
closing this, it has been decided to keep it as such until a unified form is created to add a new actor (pickleader/owner/organization). See Issue #12

[2021-06-06 19:34] #84 closed

[2021-06-06 22:36] tristanlatr commented on #87
Here is an extract of the guide, available here: https://github.com/LesFruitsDefendus/guides/blob/master/EN%20Pre-Pick%20Guide%202019.pdf

You can browser the complete set of guides from this repo: https://github.com/LesFruitsDefendus/guides

I don't think the core made any changes since the 2019 version.

![by default 2021-06-06 at 6 35 17 PM](https://user-images.githubusercontent.com/19967168/12

[2021-06-06 23:57] qusvv commented on #87
Ok got it, we want something like this:
![screenshot_2021-06-06_19:56:52](https://user-images.githubusercontent.com/41802320/120944230-63e85f80-c701-11eb-8875-68db4d2b07ca.png)

Thanks!

[2021-06-07 00:04] qusvv commented on #97
after discussion with Tristan: Harvest Form should allow for an empty pickleader field only if status is set appropriately (Orphan or To be confirmed)

[2021-06-07 15:35] qusvv opened #98 "showed_up field is not saved based on status answer in RFPManageForm"
It looks like the `status` answer (showed up, didn't showed up, cancelled) from `RFPManageForm` (`harvest/forms.py`) is not used in the `save()` method to update the `showed_up` field from the RequestForParticipation instance.

I am currently redesigning the RFP manage form view (see Issue #87).

Would you be interested in adding a column to the pickers data table (on harvest page) indicating if t

[2021-06-07 15:55] tristanlatr commented on #98
Better, we could assign pickers score based on their harvesting efficiency, then organise some kind of competition 🤡

Just kidding.

Honestly I don't know what to think of this...
Is it useful in the first place to be able to denounce pickers that did not showed up ?

[2021-06-07 16:13] qusvv commented on #98
An alternative could be to ask a single question to the pick-leader:
- pending
- accepted
- refused
- cancelled by picker

[2021-06-07 17:25] qusvv commented on #87
See new RFPManageForm / template in commit 0a517a004ae5f4e4201cc6fb1842ae6e48a74d08

- added harvest/participant info in header
- radio buttons are prefilled to match the current status
- comment isn't lost and can be edited later

![screenshot_2021-06-07_13:23:47](https://user-images.githubusercontent.com/41802320/121062898-a65a7c80-c793-11eb-92e8-0a1efb2ac39c.png)

[2021-06-07 17:27] qusvv commented on #87
Closing this for now, I will edit this form depending on the decision taken about `showed_up` field in issue #98

[2021-06-07 17:27] #87 closed

[2021-06-07 17:37] #19 closed

[2021-06-07 20:55] qusvv commented on #97
See commit #eed1c8f

only allows empty `pick_leader` field if `harvest.status` is set to `to-be-confirmed` or `orphan`

[2021-06-07 20:56] #97 closed

[2021-06-08 17:11] qusvv commented on #98
Simone confirmed that pick leaders never really indicate if picker showed up or not (most show up) and she's okay with the proposition above. working on it

[2021-06-08 17:37] qusvv opened #99 "Clarify nb. of pickers required vs nb. of RFPs behavior"
If the number of participation requests (RFPs)  has reached the number of required pickers for the harvest (no matter if the requests are pending or accepted), I get the error `Sorry, this harvest is not open for requests. You can check the calendar for other harvests.`  when trying to fill the RFP form. However the harvest is still enabled in the calendar.

1. Shouldn't we compare the number of *

[2021-06-08 18:48] qusvv commented on #98
RFPManageForm now has 4 picker request statuses to choose from: `Accepted` / `Refused` / `Pending` / `Cancelled`

![screenshot_2021-06-08_14:47:01](https://user-images.githubusercontent.com/41802320/121240504-6a451b80-c868-11eb-9c7d-c4df535dc0d6.png)
![screenshot_2021-06-08_14:47:27](https://user-images.githubusercontent.com/41802320/121240506-6addb200-c868-11eb-8562-aae122475782.png)

[2021-06-08 18:48] #98 closed

[2021-06-08 20:02] qusvv commented on #82
See pull request #96

[2021-06-08 20:22] qusvv commented on #99
added nb. required pickers in status area : e8453b0621166224ab2c809bd7d9a555d479720f

[2021-06-08 20:30] qusvv opened #100 "invalid date formats when editing harvest form"
e.g. http://localhost:8000/harvest/update/1/

dates are prefilled with format `11/06/2021 16:00:00` which fails validation when trying to save it again (expected `11/06/2021 16:00`)

[2021-06-08 21:25] qusvv commented on #100
b672d9b5b1d636830a58559daf8513f08518f9b8 : allow two datetime formats

[2021-06-08 21:25] #100 closed

[2021-06-09 19:09] qusvv commented on #71
I'm starting to look at this:
- issue #83 is closely related, although I now understand better that a property has a `pending_email` field so more thoughts on this are needed
- as it is now, `pending_contact_name/phone/email` don't appear in the property details when its status is `pending`
- I am then confused as to how one would see the pending information since even in the admin panel `Property

[2021-06-10 16:00] qusvv commented on #78
See 2a0ad0dafe4918be49bdd31fd792a78b320a3fbd
decided to create a .env template file so settings examples don't spread over too many files

[2021-06-10 16:00] #78 closed

[2021-06-10 17:18] tiagovaz commented on #71
Yes, current prod is running develop branch. I can't recall why but there was something blocking in the way that I couldn't give priority. I think we could leave like that since it's not going to be used anymore.

[2021-06-10 17:19] tiagovaz commented on #78
I've talked to @qusvv via irc, but just for the record:

[code]

[2021-06-10 20:10] qusvv commented on #83
Another point related to this is that, as far as i understand, every time a volunteer submits a request for participation a new Person object is created in the database. I assume this leads to duplicates if pickers volunteer more than once. I think it would be nice to have an email field to check if they have participated before (a process that could be similarly applied to property owners). I und

[2021-06-10 21:33] qusvv commented on #71
I think the first thing that should be done is to implement a `Auth.user`+`Person` check/creation on save(), similar to the one implemented in `RequestForm`,  by  comparing `the pending_contact_email` to the auth user email. This will at least save core member to task:
`Check if a “Auth user” and “Person” record is assigned to the property, create it if need be`

This way duplicate properties woul

[2021-06-10 21:46] qusvv commented on #83
Ok ok closing this. I initially thought volunteer pickers and owners were only `Person`s and that `AuthUser`s were only created for people who needed to log in (i.e. pick-leaders). Sorry for the confusion, @tiagovaz you actually explained it.

So correct me if I'm wrong:
- << we just don't give them such permission on the authuser creation>> means we don't set a password for them
- pick-leaders ar

[2021-06-10 21:46] #83 closed

[2021-06-10 22:24] qusvv opened #102 "Submitting twice a RequestForm with same email doesn't show proper message"
in `harvest/forms.py` class `RequestForm` `clean()`:
[code]
Validation Error does get raised if using the same email but user still gets error message:

which can be misleading to volunteers

[2021-06-10 23:24] qusvv commented on #102
When ValidationError is raised, harvest object is no longer passed along the form so `{% harvest.is_open_to_requests %}` becomes False and Sorry message error appears.

See commit de0cd3ae0c2eb3753032e087f36088eed0f08d39

[2021-06-10 23:24] #102 closed

[2021-06-11 00:01] qusvv commented on #99
It looks like it was Issue #102 that I was experiencing and it had nothing to do with the nb. of required pickers. Sorry for my esoteric assumptions.

[2021-06-11 00:01] #99 closed

[2021-06-14 15:51] #93 closed

[2021-06-14 16:44] 2ynn opened #103 "Allow core members to access Person details from community list view"
- add a link to the Person object, not auth.user
- keep link to auth.user

[2021-06-14 17:48] 2ynn opened #104 "Clarify auth.user permissions"
I suggest:
- keeping `is_staff` for pick_leaders
- adding a `core` auth.user group for core-members w/ limited permissions (in progress)
- reserving `is_superuser` for developers/admins

[2021-06-14 19:30] 2ynn commented on #104
at the moment a superuser is automatically considered as a core member:
[code]
This way only one tag is necessary in html : `{% if request.user.is_core %}`

up for discussion.

[2021-06-14 19:32] 2ynn commented on #103
See commit 4548f72e1ce16e8897540d2143fbfffb251753ab

[2021-06-14 19:32] #103 closed

[2021-06-14 19:54] 2ynn commented on #104
So far the distinction between using `is_staff` and the use of `harvests_as_pickleaders` (see `CommunitySerializer`) in attributing the Person's role in the community view is still blurry.

Note that `is_staff` is required to select a pick-leader in HarvestForm (see `PickLeaderAutocomplete`)

We could discuss the advantages of adding a `pickleader` auth.group. As it is now a logged-in user that is

[2021-06-14 20:00] 2ynn commented on #91
Agree with #10 (e.g. filtering by role, related to issue #104 )

As for the pickleader activity, we could show the date of their lastest `harvest_as_pickleader` to the list view (data is already passed to the html), this way this date could later be used to sort the list.

[2021-06-15 21:37] 2ynn opened #105 "Missing contact information for pending properties in Property view"
see discussion in #71

[2021-06-15 23:00] 2ynn commented on #105
![screenshot_2021-06-15_19:01:10](https://user-images.githubusercontent.com/41802320/122134093-f4165b00-ce0b-11eb-9c17-4de6c7c88705.png)

[2021-06-15 23:00] #105 closed

[2021-06-15 23:06] tristanlatr commented on #105
Wow it looks great!

[2021-06-16 20:36] 2ynn opened #106 "Create new owner based on pending property"
Breaking down Issue #71

see `owner-form` branch:
- added register button to create a new owner (Person+auth.user)
- information from pending property are used to prefill the form
-
![screenshot_2021-06-16_16:36:02](https://user-images.githubusercontent.com/41802320/122289633-ef5fae80-cec0-11eb-997e-8cf75b50955f.png)
![screenshot_2021-06-16_16:36:15](https://user-images.githubusercontent.com/41802

[2021-06-16 20:48] 2ynn opened #107 "Allow core members to safely delete property from property-details page"
Breaking down #71

referring to:

[2021-06-16 20:54] #106 closed

[2021-06-17 20:20] 2ynn commented on #74
Simply added the username to the header for now, see 3044b6a99992fe5fecc43ee18b43e05ee5e0299b
I think having a welcome message on successful logging could also be nice

[2021-06-18 14:31] 2ynn opened #109 "Add link to edit equipment in equipment-list"
`EquipmentUpdateView` backend already exists

NB: `equipment-detail` view is not yet handled though:
e.g. : http://localhost:8000/equipment/1/

[2021-06-18 14:37] 2ynn opened #110 "Move most model create/update views to generic template"
https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/saskatoon/sitebase/templates/app/generic/model_form.html

- [x] Person  (`owner-form` branch)
- [x] Property  (7798e513c69c353109fc321aecc14eaa33435b71)
- [x] Equipment (fe696fa7c01f5185f012cfb47a6c6cad5c77b4ef)
- [x] Harvest (69fcf5aac7347d053685bde35009a6f562c33d4f)
- [x] Comment (2c7f154f3b3dbfd0844c07efe4e2271076c689fe)

This will

[2021-06-18 15:15] #110 closed

[2021-06-18 15:43] #109 closed

[2021-06-30 22:04] 2ynn commented on #95
logged in pickleader view vs volunteer view on homepage:

![screenshot_2021-06-30_18:03:57](https://user-images.githubusercontent.com/41802320/124037450-979b6a00-d9cd-11eb-8d3d-6e8ce40b3d95.png)

![screenshot_2021-06-30_18:03:33](https://user-images.githubusercontent.com/41802320/124037382-776bab00-d9cd-11eb-883b-c35d91feb2b2.png)

[2021-06-30 23:29] 2ynn commented on #95
https://saskatoon-dev.lesfruitsdefendus.org/

[2021-06-30 23:29] #95 closed

[2021-07-02 16:17] 2ynn commented on #64
Hey do you mind if I take a look at this? I think it's pretty important as for now even successful harvests link to a RFP form

[2021-07-02 18:13] tiagovaz commented on #64
yes yes please, that would be great. I tried to add something with more info about the harvest but failed on the js side. Thanks.

[2021-07-02 22:50] 2ynn opened #111 "HarvestSerializer doesn't take timezone into account"
cd5dd7bf9e739ff196530427cb9d2e5781b34c53 fixes timezone issues in the calendar but harvest serializer still relies on UTC time:

[code]

This leads to wrong time in harvest_list.html

[2021-07-02 23:23] #111 closed

[2021-07-19 20:38] 2ynn commented on #64
Layout could definitely be improved but modal popups are now functional: https://saskatoon-dev.lesfruitsdefendus.org/calendar

- only `Date-scheduled` events link to the RFP form
- when logged in, cancelled events also show on the calendar and an additional  `Harvest Detail` button is available in the pop-up

[2021-07-19 23:07] #51 closed

[2021-07-20 15:22] 2ynn commented on #72
[code]
added to settings.py:

[2021-07-20 15:22] #72 closed

[2021-07-20 15:25] 2ynn commented on #74
`Hi {{ user }} !` added to index.html

[2021-07-20 15:25] #74 closed

[2021-07-20 20:17] 2ynn commented on #30
![screenshot_2021-07-20_16:12:36](https://user-images.githubusercontent.com/41802320/126389652-9bf9d183-31ff-421d-8036-6ff90a49e92f.png)

[2021-07-24 21:27] 2ynn commented on #94
![screenshot_2021-07-24_17:13:22](https://user-images.githubusercontent.com/41802320/126881165-e7beed4e-a1ba-4ddb-8445-f6a3c7f9816b.png)
![screenshot_2021-07-24_17:27:14](https://user-images.githubusercontent.com/41802320/126881399-48218592-6b41-42bf-85e2-7f5558623cd5.png)

[2021-07-24 21:27] #94 closed

[2021-07-24 21:29] #64 closed

[2021-07-24 21:31] #30 closed

[2021-07-24 21:32] 2ynn commented on #57
see commit 2819efb68f8dedde5dc65a9aa4fe4486f9ffde66

[2021-07-24 21:32] #57 closed

[2021-07-24 22:02] tristanlatr commented on #94
Thanks!

[2021-07-25 19:15] 2ynn commented on #12
- [x ] new owner based on pending_property (see issue #106)
- [ ] new auth.user (pickleader or core-member)
- [ ] new organization

[2021-08-06 00:38] 2ynn opened #112 "Move to Bootstrap v5.*"
Most notably what I feel is really limiting me:
- column offsets : e.g. `col-offset-md-3` : https://getbootstrap.com/docs/4.0/layout/grid/#offsetting-columns
- proper margin/padding: e.g. `md-x-4` https://getbootstrap.com/docs/5.1/utilities/spacing/
- horizontal alignment: e.g. `justify-content-md-center` : https://getbootstrap.com/docs/5.0/layout/columns/#horizontal-alignment

[2021-08-09 18:23] #53 closed

[2021-08-09 18:24] 2ynn commented on #54
Still a bit clunky
![screenshot_2021-08-09_14:24:04](https://user-images.githubusercontent.com/41802320/128755218-bbdb1866-17e9-4ccf-90ba-dfd2344119fd.png)
![screenshot_2021-08-09_14:24:31](https://user-images.githubusercontent.com/41802320/128755219-babbbe6f-5c56-4227-b88e-feb8049fff4d.png)

[2021-08-16 15:16] tiagovaz commented on #55
Wow that's a big move, thanks @2ynn!

On Wed, Aug 04, 2021 at 09:37:26AM -0700, 2ynn wrote:

[2021-09-11 03:55] 2ynn commented on #18
added new form to edit beneficiary

[2021-09-11 03:55] #18 closed

[2021-09-11 04:04] 2ynn commented on #36
Here is what the list view looks like now:
![screenshot_2021-09-11_00:04:52](https://user-images.githubusercontent.com/41802320/132935713-48ee48cf-1cce-4b1d-a9f8-753e8c22906c.png)

[2021-09-11 04:11] #107 closed

[2021-09-11 11:56] tristanlatr commented on #36
So great ! Thanks a lot @2ynn

[2021-09-20 01:58] #12 closed

[2021-09-20 01:58] 2ynn commented on #12
https://saskatoon-dev.lesfruitsdefendus.org

[2021-09-20 02:04] tiagovaz commented on #12
Thanks @2ynn !!

[2021-10-24 00:52] 2ynn commented on #10
![screenshot_2021-10-23_20:52:59](https://user-images.githubusercontent.com/41802320/138575729-f95d31dc-b394-4545-b25e-aa47c5259d7e.png)

- [x] filtering by Role in the community panel.
- [x] show the number of picks the pickers got accepted
- [ ] show the number of picks the pickers got refused

[2021-10-24 00:55] 2ynn commented on #90
In addition, I think the public property form should be reformatted:
- split first and last names instead of a single pending_contact_name field
- add a preferred language field

[2021-10-30 14:19] 2ynn opened #115 "Integrate statistics page"
The statistic panel has not been ported to the new version, we use it to populate our annual review, so it would be good to have it

[2021-10-30 14:39] 2ynn opened #116 "Implement PublicPropertyForm validation"
For PublicPropertyForm: https://github.com/LesFruitsDefendus/saskatoon-ng/blob/f6a2a8cdadbcdedd1463837f2017cebfc89a3c1b/saskatoon/harvest/forms.py#L325
- [x] most importantly check for invalid email
- [ ] eventually phone number (there are defined as simple CharFields and aren't used for any automatic task so far)
- [ ] eventually postal code (same)
- [ ]  evaluate if Blank=False should be set on

[2021-10-30 14:40] 2ynn commented on #90
TODO: fix thank you page

[2021-10-30 22:25] 2ynn opened #117 "Add editable HomePage model"
To allow core-members to dynamically edit the content of the home page:
- title (Welcome)
- image (Banner)
- description (LFD about)
- volunteer instructions (rendered as |safe)
- pickleader instructions (rendered as |safe)

See also FAQ in issue #29

[2021-10-30 22:28] 2ynn commented on #104
doc/permissions.pdf was approved by core

[2021-10-30 22:35] #86 closed

[2021-10-30 22:37] 2ynn commented on #73
related to #55

[2021-10-30 22:41] 2ynn commented on #34
Related to Issue #71

[2021-10-30 22:42] #54 closed

[2021-10-30 22:44] 2ynn commented on #13
Closing this, see issue #104 instead

[2021-10-30 22:44] #13 closed

[2021-10-30 22:52] 2ynn commented on #4
@tristanlatr  @tiagovaz  could you please clarify this issue? What is a harvest due date? Is it the end of the maturity period for a specific tree (i.e. the end-date of the Orphan harvest created by core-members during fruit groups sprints?)

[2021-10-30 23:00] tristanlatr commented on #4
The harvest due date is the expected maturity date of the tree. When creating the harvests, we initially set the harvest date to a range of dates that we think the fruits will be ripe.

Yes I think you are right.

This period could be automatically computed from past harvests dates and automatically filled into the new harvest form.

This is a nice to have rather than an actual issue.

[2021-10-30 23:22] 2ynn commented on #4
Ok thanks!

[2021-11-10 02:37] 2ynn commented on #10
- blue = upcoming harvests (either for pickleader/core or *accepted* volunteers)
- red = cancelled harvests (including for *accepted* volunteers)
- green = suceeded harvests (including for *accepted* volunteers)
- yellow = volunteer request is pending
- grey = "missed harvests" : volunteer has either cancelled or was rejected
-
![screenshot_2021-11-09_21:35:59](https://user-images.githubuserconten

[2021-11-10 02:43] #10 closed

[2021-11-20 16:03] 2ynn commented on #9
![screenshot_2021-11-20_11:05:00](https://user-images.githubusercontent.com/41802320/142733026-74303125-3e42-44a1-85c9-c7459b81167b.png)

[2021-11-20 16:04] #9 closed

[2022-02-24 19:31] tristanlatr commented on #116
This library should help us: https://validators.readthedocs.io/en/latest/

[2022-02-27 20:06] 2ynn commented on #116
thanks @tristanlatr, validators are already available with django form fields https://docs.djangoproject.com/en/4.0/ref/validators/
 they just need to be properly implemented, e.g. in https://github.com/LesFruitsDefendus/saskatoon-ng/blob/master/saskatoon/harvest/forms.py

[2022-03-05 20:43] 2ynn opened #119 "Improve admin panel list displays"
At least these two need extra list_display fields, search options, filters, etc..:
- [x] http://localhost:8000/admin/harvest/property/
- [x] http://localhost:8000/admin/member/person/

[2022-03-10 21:46] tristanlatr commented on #55
Would merging #114 closes this issue ?

[2022-03-13 01:46] 2ynn commented on #55
No we are still using Redis server. It's not really a blocker for now

[2022-03-16 21:15] tristanlatr opened #121 "Install Rosetta to manage transations in human firendly way"
See https://medium.com/@edadenizcelik/make-your-django-project-global-76095d280975 and https://django-rosetta.readthedocs.io/installation.html for more informations.

[2022-03-18 20:38] tristanlatr commented on #29
Here's the current documentation about calendar usage, is it enough?

![Capture d’écran, le 2022-03-18 à 16 37 44](https://user-images.githubusercontent.com/19967168/159079963-8973b2b4-6f8f-4de5-ab83-93ca42745995.png)

[2022-03-18 20:48] tristanlatr opened #123 "Fix the season filter"
Go to https://saskatoon-dev.lesfruitsdefendus.org/harvest/ and try to select another season that 2021, you will maybe see a pop with a datetime selector (like in harvest datetime scheduling).

The plain dropdown list also shows on top of the datetime selector.

Should not be too hard to simply remove the datetime selector.

![Capture d’écran, le 2022-03-18 à 16 43 42](https://user-images.githubu

[2022-03-24 16:41] tristanlatr opened #124 "Make the register button more evident"
The register button for newly created members of the [community](https://saskatoon-dev.lesfruitsdefendus.org/community/) is tiny.
I'de suggest something more obvious like "Register user" or "Reset password" if the user password's is already set.
We can keep the icon, but I feel like some text should be also present. Note that "register" text appears only on hover.

<img width="79" alt="by default

[2022-03-24 16:47] tristanlatr opened #125 "Deleting a person linked to an organization deletes the org as well"
The workaround is to associate the org with a another contact person before deleting the person.

But still, I feel like it should not delete the organization expect explicitly asked.

<img width="548" alt="by default 2022-03-24 at 12 45 51 PM" src="https://user-images.githubusercontent.com/19967168/159967576-4950ef66-c61a-4ad0-9de3-b682e185d021.png">

[2022-03-26 09:25] mina-andajos opened #132 "Installing virtualenv through pip3 doesn't add command to $PATH"
In `INSTALL.md` in section: `2. Python virtualenv`
Installing virtualenv through pip3 on ubuntu LTS causes 2 problems:

1. `virtualenv` doesn't get added to $PATH, so running:
[code]
2. If virtualenv is install through both `pip3` and `apt` (I installed it through `apt` later), the following error occurs:
[code]
---------------
#### So installing `virtualenv` through:
[code]
is best practice **and

[2022-03-26 14:10] yuktea commented on #124
I would like to work on this.

[2022-03-26 14:39] mina-andajos commented on #16
Could you please explain further? You want to look for which features?

[2022-03-26 20:51] victorphoenix3 commented on #124
Hi @yuktea, I had already been working on this and didn't see your comment before submitting the PR.

[2022-03-26 20:52] victorphoenix3 commented on #124
Hi @yuktea, I had already been working on this and didn't see your comment before submitting the PR.

[2022-03-26 21:20] farhanmasud commented on #112
The current saskatoon-ng [uses Bootstrap v3.3.6](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/saskatoon/sitebase/static/css/bootstrap.min.css). So, the process will be migrating Bootstrap v3.3.6 to v5.*.

What will be the best way of approaching this? Starting with the base template located in saskatoon/sitebase/templates/app/base directory (referring to the develop branch) and t

[2022-03-27 00:50] yokwejuste commented on #90
What if an API was used for the task? Why try to implement it from scratch when Google Translate tools can obviously b used?

[2022-03-27 01:14] mina-andajos commented on #32
Can I work on this one?

[2022-03-27 04:41] tristanlatr opened #141 "See what's been fixed exactly in #114"
I think I'll merge #114  in the next couple of days.

The thing is some of the issues listed during the review period (here https://github.com/LesFruitsDefendus/saskatoon-ng/pull/114#issuecomment-955190436) might not be fixed (for instance the form validation - but there is an issue for that alreay).

So we should create issues for those and fix them appropriately.

[2022-03-27 11:42] mina-andajos opened #142 "Redis Connection Error 111 to port 6397 when running the loaddata script"
After running:
[code]

I get this connection error (last line in the output):
[code]
Which fixtures are not affected by this error so they can be loaded, or unload redis as a workaround?

[2022-03-27 11:43] mina-andajos commented on #142
Full command output:
[code]

[2022-03-27 11:52] mina-andajos commented on #142
I also get this error when I try to fill a property both using the site, and the admin panel (I used #138)

[2022-03-27 13:33] mina-andajos commented on #142
`reddis-server.service` haven't started for me which caused the issue.

[2022-03-27 13:33] #142 closed

[2022-03-27 14:21] 2ynn commented on #90
It's not really from scratch, all strings that need translations should already be marked ( `gettext_lazy()` in py files,  `{% trans "..." %}` in html templates. We just need to update translations.
For reasons that might not be obvious to you we'd rather not use Google.
qynn

Mar 26, 2022, 8:50 PM by ***@***.***:

[2022-03-27 18:36] 2ynn commented on #112
This is a big one. I will flag this issue as low priority for now.
Running diagnostic tests would be nice, if you do so please use the develop branch as I have tried to reorganize templates in a more generic way to avoid layout duplication.

[2022-03-28 01:47] mina-andajos commented on #32
I'm checking the `harvest/property_thanks.html` template. I believe replicating it for the harvest creation would be good?

[2022-03-28 02:01] mina-andajos commented on #32
I'm checking the message on the `harvest/property_thanks.html` template. I believe adding something similar when a Harvest's status is set to "Success" would be good?
![image](https://user-images.githubusercontent.com/52796958/160314022-0dad94f2-0ade-4697-a7c4-cf11ef746067.png)

[2022-03-28 03:14] tristanlatr commented on #32
Yes go ahead. Thanks.

[2022-03-28 03:19] mina-andajos commented on #32
Progress so far:
![image](https://user-images.githubusercontent.com/52796958/160320548-5323b7b6-0418-4abf-bf55-7c19fecd2748.png)

I should add the harvest name instead of 'nth' right? or the fruit type name?

[2022-03-28 03:43] mina-andajos commented on #32
I tried using the model's `property.publishable_location` attribute:

![image](https://user-images.githubusercontent.com/52796958/160322714-45493c49-1004-42b2-adc4-d92010638902.png)

I think it looks cleaner than using the `property` attribute like the string representation of the Harvest model for example.

[2022-03-28 04:08] tristanlatr commented on #32
Thanks! Looks good but I think I meant 'nth'  to be the number of picks the pickleader accomplished in the season, eg 1st, 2nd, 3rd, 4th, 6th, 7th, 8th, etc…

[2022-03-28 04:10] mina-andajos commented on #32
ok, will apply that.
Do I have to run the tox test locally for this change?
I'm facing a timeout error with it that I'm trying to fix

[2022-03-28 04:11] tristanlatr commented on #16
Hi @mina-andajos,

The missing feature forth at would be good to have a placeholder for would the statistics page, see #115. Maybe the page can contain “raw” data with a note that statistics processing is under development.

Thanks

[2022-03-28 04:12] tristanlatr commented on #32
would be good that the tests passes, and if they don’t, why.

[2022-03-28 06:52] farhanmasud commented on #112
@2ynn thanks for your feedback. I'll look into it and check what I can do about it.

[2022-03-28 07:45] mina-andajos commented on #33
Would adding an `icon` field to the `TreeType` model be good?
Maybe add an optional tree icon field in the form when creating a property/harvest.
and then when we display the treetype elsewhere like on calendar
we either use just the icon or the name with the icon.

[2022-03-28 08:03] mina-andajos commented on #33
Or maybe something like this in the views without changing the model:
[code]

[2022-03-28 08:07] donaldte commented on #116
Hi I have used this validators available in django to implement email and phone number validation inside the models Please I want you to check and tell if there are something to modify. the branches are under develop branch. thanks

[2022-03-28 14:00] tristanlatr commented on #33
I think the goal is to have the fruits icons aside the fruits type as text (when we have the space - like in harvest page) and have only fruit icon when we're reviewing the harvest list for instance or the history of harvest for this property.

Honestly I'm not quite sure tof the best manner to implement it. Having a mapping like that sounds like a resonable idea.

[2022-03-28 14:05] tristanlatr commented on #116
Hello @donaldte,

Please open a pull request with your changes and I'll review them alongside other contributions tonight or tomorrow alongside other contributions.

Thanks

[2022-03-28 18:59] farhanmasud commented on #112
Okay, I'll look into other issues to fix now

[2022-03-28 21:17] yokwejuste commented on #116
Hey greetings here! Can I work on this issue? I mean can the issue be assigned to me?

[2022-03-28 21:22] yokwejuste commented on #125
What do you want now? The issue is not clear give more highlights on it. Do you wish to delete just the user and not the organisation that was exiting relatively to the user or what ?

[2022-03-28 21:24] yokwejuste commented on #125
## Please @tristanlatr be clear in this issue
Waht do you want now? The issue is not clear give more highlights on it. Do you wish to delete just the user and not the organisation that was exiting relatively to the user or what ?

[2022-03-28 21:28] yokwejuste commented on #35
Hello here! @tristanlatr can be assigned to this issue to work on. I think the library [xhtml2pdf](https://pypi.org/project/xhtml2pdf/) offering us full customization of our email look will be great to be used here.

[2022-03-28 21:28] 2ynn commented on #116
To be clear on this issue. Do not alter any `models.py`, we are in the process of migrating databases and cannot afford doing migrations at the moment.
The form that needs to be validated more specifically is PublicPropertyForm
https://github.com/LesFruitsDefendus/saskatoon-ng/blob/f6a2a8cdadbcdedd1463837f2017cebfc89a3c1b/saskatoon/harvest/forms.py#L325

[2022-03-28 21:29] yokwejuste commented on #37
Can I be asigned to this issue?

[2022-03-28 21:31] yokwejuste commented on #68
Can i work this out and make the code clean?

[2022-03-28 21:36] yokwejuste commented on #116
Meaning I can start working on the optimization of that form validation right?

[2022-03-28 21:40] 2ynn commented on #116
@yokwejuste if you want you can submit a pull request (on develop branch) and we will look at it. thanks

[2022-03-29 05:37] tristanlatr commented on #125
Hello @yokwejuste

Yes exactly. Deleting the person should not delete the organization. It should simply unlink the contact person fro the organization. And if that poses and issue for the database model, I think the form should simply refuse to delete a person that is still linked to an organization.

Talk to you later,

[2022-03-29 05:43] tristanlatr commented on #35
Hello @yokwejuste,

Yes you can work on this issue, note that we already have a couple of email notifications in place in the [signals.py](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/master/saskatoon/harvest/signals.py) file.

I think that staying simple for the email notifications for now is best. We don't want to do extra work on something that very low priority like having beautiful

[2022-03-29 05:45] tristanlatr commented on #68
We don't want to introduce big diffs right now, so major code cleaning should be kept for later (after we have merged #114).

[2022-03-29 05:48] tristanlatr commented on #37
Yes, go ahead.

Talk to you later

[2022-03-29 05:51] mina-andajos commented on #33
I am working on the issue right now.

[2022-03-29 06:00] yokwejuste commented on #37
I'm an outreachy applicant and from what I learned recently, I somehow need to have the issue assigned before my work can be registered.

[2022-03-29 06:09] mina-andajos commented on #33
Is it better to use `object.name` or `object.fruit.name`? @tristanlatr

[code]

[2022-03-29 08:46] mina-andajos commented on #33
nvm i looked at the templates and figured it out. it's using `tree.name`

[2022-03-29 12:16] yokwejuste commented on #125
Can I be assigned to this task @tristanlatr ?

And if yes, please make it clear by assigning the issue to my name!

Thanks!

[2022-03-29 13:39] tristanlatr commented on #37
Not sure to understand what you are talking about exactly, I assume your talking about github assignments... We don't really use those. And this did not stop participants from contributing.  I think that knowing that you're working on this issue is probably enough to prevent other participants to work on this issue as well.

 For the short term, you can consider that this issue is yours.

Talk to

[2022-03-29 20:31] mina-andajos commented on #29
What kinds of questions have the volunteers asked before on the old saskatoon site regarding applying to harvests? There are some boolean fields like owner wants to join, stuff like that maybe? I'll check if there's anything that needs to be de-mystified.

[2022-03-29 20:43] mina-andajos commented on #16
I'm sorry I still don't understand.
The statistics page like already a static page with placeholder values.
You want to add a note in the title/header that it's under development maybe?
I don't get the raw data part to be exact.

[2022-03-30 02:30] tristanlatr commented on #125
Hello @yokwejuste,

I think you can work on this issue. Contributors should read the comments of the issue before start working on something.

But if you prefer, I can assign you this issue in github for the time being. But keep in mind that it's not a standard practice that we've put in place and other issues mind be worked on by other contributors even if they are not assigned to anyone in the g

[2022-03-30 05:19] #132 closed

[2022-03-30 06:08] Rufaida98 commented on #119
@2ynn i cant open the linky you attached

[2022-03-30 12:00] mina-andajos commented on #21
Can I work on this Issue?
It's very similar to the harvest comments so I believe it's not going to be very challenging to add.
I can modify the models, fixtures, tests, forms, viewsets, urls, templates.

![image](https://user-images.githubusercontent.com/52796958/160829738-ff323a76-004f-4763-933b-1c250e351a18.png)

[2022-03-30 14:52] ojaragodwin commented on #119
To open the link that @2ynn submitted, you need to have set up the application running locally on your machine already

[2022-03-30 15:20] tristanlatr opened #156 "Complete user stories"
The [user stories](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/doc/user-stories.md) file is supposed to help anyone (with or without technical competences) to test all use cases of Saskatoon and report feedback on usability / bugs.

It's not currently complete, I suppose there are a few use cases that are not listed. And we should account for the corner cases too.

[2022-03-30 16:20] mina-andajos opened #157 "Add urls for harvests in the property detail view."
I believe adding a link for each harvest in the data row would enhance the usability of `localhost/property/<pk>`

![image](https://user-images.githubusercontent.com/52796958/160881561-9d45299e-2efb-463e-8ee0-5595c6606672.png)
--------------
Similar to `localhost/harvest/`

![image](https://user-images.githubusercontent.com/52796958/160883146-c3b46f3c-325a-46d8-aefd-4f379eda6881.png)

[2022-03-30 20:14] tristanlatr commented on #16
Yes

Forget about that, we can use the admin panel.

[2022-03-30 20:21] tristanlatr commented on #6
Here is the link to the so-called annex-D: https://github.com/LesFruitsDefendus/guides/blob/master/EN%20AnnexD%202019.pdf which details all statuses meaning.

The descriptions should show on hover the badges like:
<img width="537" alt="by default 2022-03-30 at 4 19 40 PM" src="https://user-images.githubusercontent.com/19967168/160923826-d401bf4c-3d65-4325-8a16-216e4c2ad421.png">.

I think we shoul

[2022-03-30 20:48] tristanlatr opened #158 "Rebuild translation files"
We need to update translation files with makemessages, then we'll be able to work on translations with rosetta.

https://docs.djangoproject.com/en/4.0/ref/django-admin/#makemessages

[2022-03-30 20:52] #124 closed

[2022-03-30 21:17] yokwejuste commented on #125
Yes sir, copied! Working on the implement and preparing the PR.

[2022-03-30 23:15] victorphoenix3 commented on #158
Hello @tristanlatr. I'll work on this issue.

[2022-03-31 05:19] mina-andajos commented on #16
Working on it right now. 👍

[2022-03-31 06:53] ojaragodwin commented on #156
I will do this,

[2022-03-31 13:17] farhanmasud commented on #116
@2ynn @tristanlatr For email field, the form uses the field `pending_contact_email` from the `Property` model which uses the django model field `EmailField` which already has the validations for checking a valid email [(Ref)](https://docs.djangoproject.com/en/4.0/ref/models/fields/#emailfield). Also the attribute `blank` for this field is set as `False` by default so this is field is marked as req

[2022-03-31 15:13] tristanlatr commented on #115
Here is what the statistic page should looks like:

<img width="1184" alt="saskatoon-statistics" src="https://user-images.githubusercontent.com/19967168/161089255-38576afc-9973-470a-90c1-ffccb92c2006.png">

[2022-03-31 15:14] tristanlatr commented on #158
Hi @victorphoenix3, sounds good, thanks.

[2022-04-01 18:54] khabdrick commented on #3
Hello @tristanlatr  is the work for pep8 python, urls routage, and Split application still available. There is a bit of confusion since the was another issue relating to this.

[2022-04-02 04:08] yokwejuste opened #165 "On cloning, installing the requirements and running the Saskatoon-ng repo some errors occured"
## Background
I don't really know how it came about, but recently my Ubuntu 20.04 crashed and the kernel was damaged, 2 days ago I reinstalled the OS but I preferred an upgrade to 21.04.
## Expectations
Obviously, I expected to run the as previously did before the crash but got hocked up.
## what happened
- Finally, I got a first error installing some requirements, mainly at the level of mysqlclie

[2022-04-02 04:32] tristanlatr commented on #165
Hi @yokwejuste,

I think you are definitely missing some requirements.

Here is my pip freeze output. after `pip install .`:

[code]

Hope this helps

[2022-04-02 16:54] mina-andajos commented on #115
Is this design from the previous saskatoon website?

[2022-04-02 17:18] tristanlatr commented on #115
@mina-andajos yes it is.

[2022-04-02 17:36] mina-andajos commented on #115
👍
I would like to work on this issue.

[2022-04-02 18:19] tristanlatr commented on #115
Thanks @mina-andajos for your enthousiasme.

You can find the older implementation of the stats view on the `develop` branch of the older Saskatoon repo [here](https://github.com/tiagovaz/saskatoon/blob/e0a522b675594ba72c5aadbf918dd11c22939478/saskatoon/harvest/views.py#L736).

Note that this issue was initially part of the internship itself, because it would probably introduce quite a big diff. B

[2022-04-02 18:31] tristanlatr commented on #3
Hi @khabdrick,

Honestly, I feel like this issue is very low priority for now. One thing that would be great is to make the tests pass first and then configure them to run in the GitHub CI. Right now tests are simply broken.

Talk to you later

[2022-04-02 18:33] mina-andajos commented on #115
Yeah I was checking the old code base out. Thanks for pointing out which branch.

[2022-04-02 18:33] khabdrick commented on #3
I'll work on it, that's if no one is working on it already?
@tristanlatr

[2022-04-02 18:54] 2ynn commented on #116
@farhanmasud thanks for checking the `pending_contact_email` field. No we don't need to check if it already exist in the database for now.
1. `pending_contact_phone`: please look into implementing a proper phone field (e.g. https://pypi.org/project/django-phone-field/). Ideally we should only store  phone numbers formatted as E164 (which django-phone-field does for us).
2. `pending_contact_name` s

[2022-04-02 19:22] farhanmasud commented on #116
@2ynn thank you very much for your detailed feedback on this. This now gives a clear idea of what needs to be implemented. I'd be very glad tackling this. I'm starting to work on this and will get back to you whenever I need help about anything. Thanks!

[2022-04-03 02:08] 2ynn opened #167 "Clarify branches and pull requests bases"
@tristanlatr if we are using master branch to target pull requests, what is now the use for the develop branch?

Why not keep on merging pull requests into develop first? When they are tested on dev server we merge them to master.
Then master gets pushed to prod server. And as usual I would still push to prod branch from dev server so we always know what is currently up.
It's confusing now because

[2022-04-03 02:52] mina-andajos commented on #167
Yeah I was wondering the same 💯. Maybe adhering to the [git flow](https://youtu.be/aNJTAYwYIE8) feels like the safest option.

[2022-04-03 03:04] tristanlatr commented on #167
Hi,

We should figure out the required DNS changes.

Whatever works, but if we're not targeting pull requests to the main (which is master in our case), is should be indeed clear in the CONTRIBUTING file. Because Github UI targets the PR by default to the main branch. I think sticking to this is best. I'd suggest we update `develop` even to `master` and then make it the main branch. Then PRs creat

[2022-04-03 12:37] victorphoenix3 commented on #34
Hi @tristanlatr, May I work on this?

[2022-04-03 13:47] 2ynn commented on #167
Ok I just made `develop` equal to `master` and set `develop` as default branch in GitHub.
I've also added a rule to prevent direct pushes to the master branch.
I went in most approved pull requests and changed the base branch to develop. I'll merge them shortly.

Thanks for the link @mina-andajos . I think for small fixes we can merge into `develop` and for bigger features we can start dedicated b

[2022-04-03 13:48] #68 closed

[2022-04-03 13:48] #32 closed

[2022-04-03 14:04] 2ynn commented on #123
see #146

[2022-04-03 14:04] #123 closed

[2022-04-03 14:37] #119 closed

[2022-04-03 15:26] tristanlatr commented on #34
Hi @victorphoenix3,

yes go ahead,

Talk to you later,

[2022-04-03 20:19] farhanmasud opened #172 "Form validation styling issue with django-crispy-forms and bootstrap3 / bootstrap4 conflict"
This front-end HTML template [currently uses bootstrap v3](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/saskatoon/sitebase/static/css/bootstrap.min.css) and in the settings file, the `CRISPY_TEMPLATE_PACK` variable is [currently set to `'bootstrap4'`](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/62bc3b19e0654402bf92af99189497f6e6a1d168/saskatoon/saskatoon/settings.py#L2

[2022-04-03 20:22] farhanmasud commented on #116
@2ynn for implementing the proper phone field with [django-phone-field](https://pypi.org/project/django-phone-field/), there is [an argument `E164_only`](https://github.com/VeryApt/django-phone-field/#usage). If that's set to `True` it adds a form validator to only accept numbers in the E164 format. Should we put this on to require users to enter the phone number correctly?

It says on the documen

[2022-04-03 20:28] farhanmasud opened #173 "Wrong success_url on PropertyCreatePublicView"
`success_url` on `PropertyCreatePublicView` located at [saskatoon/harvest/views.py](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/saskatoon/harvest/views.py#L67) is set to `'thanks'` which doesn't exist. So when users enter the details and click on the Send button, they are redirected to a 404 page.

![Screenshot from 2022-04-04 02-26-13](https://user-images.githubusercontent.com/

[2022-04-03 20:29] 2ynn commented on #116
No I don't think setting `E164_only=True` should be necessary. We don't want to force people to enter their phone number in E.164 format, what we want is make sure the phone is stored properly in the database. For example if you pass "(514) 123 4567" or "514-123-4567" or "5141234567" or "+15141234567" to the django-phone-field they will all get nicely formatted as "(514) 123-4567" when we display

[2022-04-03 20:32] farhanmasud commented on #116
Got it. Thanks!

[2022-04-03 21:14] tristanlatr commented on #173
Hi @farhanmasud,

Thanks for creating this issue,

This is a know bug and it would great to be fixed. The thank you page can be very simple, with a text and a button to come back to the main Saskatoon URL.

Someone (@2ynn) is telling in my earphone that this page might already exist under a different name: property/thanks

[2022-04-03 21:16] #158 closed

[2022-04-03 21:19] farhanmasud commented on #173
@tristanlatr thanks a lot for your feedback. I have updated the `success_url` on [this pr](https://github.com/LesFruitsDefendus/saskatoon-ng/pull/174) which points to the url that you have mentioned. I'll update the template accordingly as well.

[2022-04-03 21:23] tristanlatr commented on #90
After some discussions with @2ynn, we'll just rely on the language chooser on the top of the pages to so the translations.

[2022-04-03 21:23] #90 closed

[2022-04-03 21:40] tristanlatr opened #175 "Update favico"
The icon should be: https://saskatoon-dev.lesfruitsdefendus.org/static/img/logo.png

[2022-04-03 21:50] tristanlatr commented on #104
In my opinion, pick leader should not be able to review the community page neither the statistic page.

[2022-04-03 22:39] tristanlatr opened #176 "Fix the tree owner welcome notice link"
This link is broken,
We can just use our google drive for this kind of stuff.

https://github.com/LesFruitsDefendus/saskatoon-ng/blob/2cdbe2836087301a2c89e1c0a3c55c18fe22b736/saskatoon/harvest/locale/fr/LC_MESSAGES/django.po#L695

[2022-04-04 00:24] tristanlatr opened #178 "Clarify install"
See https://github.com/LesFruitsDefendus/saskatoon-ng/commit/cbe7dd649f713ef57604a2033e76d7b748969c31#r70308824

[2022-04-04 05:38] S-kus commented on #178
Hey @tristanlatr, I like to work on this issue.
Could you confirm, What exactly I needed to clarify?

Like should I add earlier instructions i.e.
[code]
and wrote to start python in terminal using `python3` or `python`

 or do I need to write an explanation line for this command:
`python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'`

[2022-04-04 06:05] S-kus commented on #175
Hello @tristanlatr, I updated the required favicon.ico in the attached pull request. Could you please review it?
Thanks!

[2022-04-04 06:05] ojaragodwin commented on #176
Let me work on this issue

[2022-04-04 06:08] S-kus commented on #176
Hello @tristanlatr, I would like to work on this issue, Could you please confirm where I can find the required google drive link.

[2022-04-04 06:09] ojaragodwin commented on #176
Hello @tristanlatr kindly drop the google  drive link that we shall use to replace the broken link

[2022-04-04 07:14] sreshu commented on #6
I would like to work on this issue!

[2022-04-04 07:34] sreshu opened #180 "".env is not found" Error !"
File "/home/<user_name>/venv/lib/python3.8/site-packages/django/conf/__init__.py", line 170, in __init__
    mod = importlib.import_module(self.SETTINGS_MODULE)
  File "/usr/lib/python3.8/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1014, in _gcd_import
  File "<frozen importlib._boot

[2022-04-04 08:30] ojaragodwin commented on #180
You are supposed to create a ".env" file int root directory and copy all the contents of the "env.template" in the root directory to the ".env" file you just created as per the instructon in the INSTALL.md file line 71

![image](https://user-images.githubusercontent.com/38132692/161504333-e5012b6a-2fc0-4236-ab01-6b83e506bcf4.png)

I hope this helps @sreshu
You will meet another error which you sol

[2022-04-04 08:39] ojaragodwin opened #181 "change "SASKATOON_DB_NAME=/your/db/path/sqlite3.db" in INSTALL.md file to "SASKATOON_DB_NAME=/your/db/path/db.sqlite3""
The SASKATOON_DB_NAME=/your/db/path/sqlite3.db instruction  in INSTALL.md file in line 15 can be misleading and make people  installing the software to create "sqlite3.db"  file instead of "db.sqlite3" file that will result into further errors.
I think the instruction for that line should be changed to "SASKATOON_DB_NAME=/your/db/path/db.sqlite3"
@tristanlatr  i hope this is right?
![image](https:

[2022-04-04 08:59] ojaragodwin commented on #180
You can create it at the root as show in this picture
![image](https://user-images.githubusercontent.com/38132692/161510190-9a4c5b54-7a3e-487b-bb63-ac5027638238.png)

[2022-04-04 09:00] ojaragodwin commented on #180
And then copy the path and edit the .env file path line 15 to point to this database you have just created

[2022-04-04 09:02] ojaragodwin commented on #180
Please make sure the db is named as "db.sqlite3" not "sqlite.db"

[2022-04-04 09:09] ojaragodwin commented on #156
Hello, @tristanlatr , i am kindly requesting for the login details of remote site so that i can verify and add some user stories
"https://saskatoon-dev.lesfruitsdefendus.org/community/"

[2022-04-04 09:11] ojaragodwin commented on #156
The local site i installed has a few variations from the steps that are written in the stories. So i would like to verify using a remote site
Thank you

[2022-04-04 09:27] sreshu commented on #180
@ojaragodwin so this db.sqlite3 would be empty?

[2022-04-04 09:48] ojaragodwin commented on #180
Yes it would be empty, but it will be pupulated when you run migration commands in django, and also be populated when you load the data from the json files, kindly read the INSTALL.md file carefully

[2022-04-04 13:26] ojaragodwin opened #184 "Removing redundant chosen-sprite.png file in the templates section in sitebase app."
The chosen-sprite.png file has been duplicated, it has been used both in the static files sections and template sections hence wasting storage space.

[2022-04-04 13:50] tristanlatr commented on #178
Hi @S-kus, Thanks for your interest.

It's really on replacing "Note: to generate a new random secret key, you can run this python script:" by "Note: to generate a new random secret key, you can run this script:" (since it's not a python script anymore, but just a sh script)

[2022-04-04 13:53] tristanlatr commented on #176
Hi both of you,

We haven't uploaded to new document to our google drive yet, I'm unsure where I can find the original of this document. I'll have to dig in the old nextcloud...

[2022-04-04 14:08] tristanlatr commented on #175
Hello @S-kus. Thanks for your contribution. It looks very good.

[2022-04-04 16:05] S-kus commented on #175
Looking forward to more contributions!

[2022-04-04 16:11] S-kus commented on #176
Okay @tristanlatr, Once the drive link is made, We will easily solve this issue.

[2022-04-04 16:31] S-kus commented on #178
Thanks, @tristanlatr for clarification, I created the pull request.
Could you please review it!

[2022-04-04 16:45] #178 closed

[2022-04-04 17:31] 2ynn opened #188 "Do not assume all owners are Persons"
I've assumed all property owners were `Person`s without realizing `Organization`s can also be owners (`owner` field is related to `Actor`, not `Person`)
[code]
There may be more. See `app/list_views/equipment/data_row.html` for an example where a distinction between the two types of actors is made.

I suggest starting by adding "friendly" `@property` to the `Actor` model:
- `is_person`: returns Tr

[2022-04-04 18:14] khabdrick commented on #117
is this issue still available, I'll like to work on it?

[2022-04-04 18:17] tristanlatr commented on #117
Hello @khabdrick,

Note that this issue was initially part of the internship itself, because it would probably introduce quite a big diff.

But if you feel confident you can achieve task in the contribution period, please go ahead.

[2022-04-04 18:19] #121 closed

[2022-04-04 18:20] tristanlatr commented on #36
This issue can be closed, right @2ynn ?

thanks

[2022-04-04 18:23] #36 closed

[2022-04-04 18:24] tristanlatr commented on #56
Not usure to understand what needs to happens to fix this issue. @tiagovaz, could you add more details ?

thanks

[2022-04-04 18:27] tristanlatr commented on #165
@yokwejuste did you managed to make work ?

[2022-04-04 18:30] khabdrick commented on #117
Now I don't feel confident anymore. I'll pick something lighter so that it can be finished and reviewed in time.
I'm sorry for the confusion.

[2022-04-04 18:32] 2ynn commented on #188
TODO in http://localhost:8000/admin/harvest/property/ t
- [ ] add filter to differentiate properties attached to Persons from the ones associated to organizations
- [ ] show contact_name + contact_phone + contact_email in list_display (see `@properties` above)
- [ ] add pk
- [ ] skim through list_display titles for better readability

[2022-04-04 18:33] 2ynn commented on #117
no worries, sorry for the django-dotenv / python-dotenv confusion, that was on our side

[2022-04-04 18:35] tristanlatr commented on #117
@khabdrick you can review the issues marked as "easy" or "good first issue" :)

Talk to you later,

[2022-04-04 18:35] 2ynn commented on #117
no worries @khabdrick !

[2022-04-04 18:39] tristanlatr commented on #180
Thanks @ojaragodwin  for debugging this issue.
@sreshu I hope everything is working on your end, don't hesitate to open more issues or discussions.

Closing it now :)

[2022-04-04 18:39] #180 closed

[2022-04-04 19:03] #33 closed

[2022-04-05 05:47] ojaragodwin commented on #188
I would like to work on this issue,

[2022-04-05 10:56] khabdrick commented on #28
@tristanlatr
I'd like to work on this. Is there something I'll need to complete this?

[2022-04-05 11:19] farhanmasud commented on #116
@2ynn About cleaning / validating the postal code. I was thinking the following steps -

1. Remove all spaces
2. Check for length 6 since all Canada postal codes are 6 digits long
3. Check if it has only alphanumeric characters
4. Check if the format is A1A1A1 where A being a letter form the alphabet and 1 being a decimal number [ref.](https://www.postgrid.ca/what-is-postal-code/#:~:text=Canadian%

[2022-04-05 11:55] victorphoenix3 commented on #188
@2ynn Since, I am already familiar with this part of the codebase, can I work on the above tasks?

[2022-04-05 13:59] tristanlatr commented on #28
I think that first of all, we should include the images in the new property view and add a button to add a image.
I don't think these exists at the moment.
After we'll look at image removing and ensuring that they fit the screen.

[2022-04-05 16:20] yokwejuste commented on #165
Sir now I get q new error, saying saskatoon.saskatoon module doesn't exist

[2022-04-05 16:35] tristanlatr commented on #116
FYI this exists: https://github.com/verhovsky/postalcodes-ca, so let's not reinvent the wheel, the `parse_fsa` function looks really helpful.

[2022-04-05 17:24] farhanmasud commented on #116
@tristanlatr thanks! I'll look into it

[2022-04-05 21:11] mina-andajos opened #192 "Add TreeTypeSerializer for other views"
https://github.com/LesFruitsDefendus/saskatoon-ng/pull/149#issuecomment-1086704512

[2022-04-05 22:16] tristanlatr commented on #165
@yokwejuste please provide full trace back for your error :)

Make sure you installed correctly Saskatoon with `pip install .`.

Talk to you later,

[2022-04-05 22:58] richarddushime commented on #29
Greetings to @mina-andajos
As i was going through the process for harvest so that i can work on this  i realized that  there is some fields that are missing in the harvests status there is no open and full or according to documentation   for someone to participate  the status has to be open
i could  first add that then i proceed to improve the documentation if you accept
Thank you

[2022-04-05 23:04] richarddushime commented on #181
Hello @ojaragodwin
Can you assign me this issue ??
Thank you i will be waiting

[2022-04-05 23:11] richarddushime commented on #184
Hello @ojaragodwin
could you please assign me this issue ??
Thank you

[2022-04-05 23:19] mina-andajos commented on #165
Hi @yokwejuste.
Some dependencies in INSTALL.md are installed with apt.
Are you sure you installed them?
If yes then switch to branch develop and
`pip install . '.[test]'`, everything should work afterwards.

[2022-04-05 23:20] richarddushime commented on #165
After  installing the above all worked well
Though there is another error i corrected in .env file

i can  try to improve a little bit on the documentation if you give me permission
Thank you

[2022-04-05 23:21] richarddushime commented on #165
asgiref>=3.2.7
cffi>=1.14.0
cryptography>=3.3.2
Django>=3.0.14,<4.0.0
django-geojson==3.0.0
django-leaflet==0.26.0
django-rest-knox==4.1.0
djangorestframework>=3.11.0
django-autocomplete-light>=3.8.2
django-select2
django-ckeditor
django-filter
django-crequest
django-debug-toolbar
django-extensions
jsonfield==3.1.0
mysqlclient==1.4.6
Pillow==8.3.2
pycparser==2.20
pytz==2020.1
six==1.15.0
sqlparse=

[2022-04-06 06:54] ojaragodwin commented on #184
Hello @richarddushime  , i already worked on this issue

[2022-04-06 06:54] ojaragodwin commented on #181
This issue has already been worked on

[2022-04-06 07:05] ojaragodwin commented on #188
Its okay @victorphoenix3 , i will work  on filters

[2022-04-06 16:22] tolusolaadeyemi commented on #46
hello, is it okay if I work on this issue?

[2022-04-06 20:01] #167 closed

[2022-04-06 20:06] 2ynn commented on #188
thanks @victorphoenix3 @ojaragodwin. I've just created a branch for this Issue: https://github.com/LesFruitsDefendus/saskatoon-ng/tree/Fix-188-Not_all_owners_are_persons
Please target your pull requests to this branch, I'll try and help when i can

[2022-04-06 20:07] #173 closed

[2022-04-06 20:11] #192 closed

[2022-04-06 20:12] #175 closed

[2022-04-06 20:16] #16 closed

[2022-04-06 21:39] tristanlatr commented on #29
Hello @richarddushime and @mina-andajos,

Sorry @mina-andajos, your message fall thought the cracks here.

The full documentation can be found in the guides: https://github.com/LesFruitsDefendus/guides although I agree there is no description of each specific harvest status.

@richarddushime, I believe the statuses in the calendar are simplified from the list of real statuses a harvest can have: h

[2022-04-06 21:39] #29 closed

[2022-04-06 21:42] tristanlatr opened #199 "Add a simple button / dropdown to quickly change Harvest Status"
Here's what we could see at the top of a harvest page in the older saskatoon, when it's Orphan (no pick-leader associated):

<img width="270" alt="Capture d’écran, le 2022-04-06 à 13 41 07" src="https://user-images.githubusercontent.com/19967168/162035490-95896cf3-93ee-494a-9d0b-b78a82ad5033.png">

I think it would be good to improve the user experience around adroping/un-adopting a harvest and

[2022-04-06 22:01] tristanlatr opened #200 "Migrate all the guides to readthedocs"
The latest versions of the guides can be found here: https://github.com/LesFruitsDefendus/guides

It's unpractical to edit guides in french and in english every year like we used to do (this is why we stopped also).

So a solution for this issue is to bring documentation closer to the developers, so it's always up to date.
Readthedocs is great, it will allow us to link to the manual from Saskatoon

[2022-04-06 22:22] vaishnavi-gupta18 commented on #199
Hey @tristanlatr
I would like to work on this issue. Kindly assign it to me

[2022-04-06 22:42] tolusolaadeyemi commented on #6
Sorry for so many commits, I was having some issues creating a new branch for the issue

[2022-04-06 22:45] farhanmasud commented on #116
@tristanlatr I went through this package and there is also another function `parse_postal_code` which validates the whole postal code instead of the first 3 characters from `parse_fsa`. Could we use that instead of the `parse_fsa` function? Or should we focus on validating just the first 3 characters for now?

I think we'll need to go through this following step or at least trimming the left space

[2022-04-07 12:16] nnabuihe-favour opened #202 "change sticky-footer to fixed-footer, so it is always at the bottom"
hello @tristanlatr i would like to make changes to the sticky footer so it always shows up at the bottom on large screens and all over the app. Can i work on this?
![lesfruit2](https://user-images.githubusercontent.com/78615753/162196458-751fb789-4254-488b-957d-725a1fa5333e.png)

[2022-04-07 20:18] tristanlatr commented on #200
After some discussion, I'm going to work on the setting up the documentation site.

I'll use the [guides](https://github.com/LesFruitsDefendus/guides) repository so it does touches the development files here.

We need this before mi-june ideally, I'll do my best.

[2022-04-07 20:55] tristanlatr commented on #199
Hi @vaishnavi-gupta18, thanks for your interest,

You can work on this issue :)

Thanks,

[2022-04-07 21:26] mina-andajos commented on #200
I would like to work with you on this, I'm interested in knowing how they make readthedocs sites and similar documentation sites.
I'm not familiar with sphinx though (or the process in general).
Any tutorial/learning material you'd recommend? @tristanlatr

[2022-04-07 21:32] tristanlatr commented on #200
I've pushed some very minimal setup to https://github.com/LesFruitsDefendus/guides, I'll finish the integration with readthedocs and markdown probably next week.

I can direct you this Sphinx tutorial: https://www.sphinx-doc.org/en/master/tutorial/index.html it might not cover all our use cases because we use internationalization etc, but it's a good starting point to learn more about sphinx.

[2022-04-07 21:37] mina-andajos commented on #200
thanks ❤️

[2022-04-07 23:15] diananova commented on #200
I'd love to help as well!

[2022-04-07 23:21] diananova commented on #125
Any updates? I could try looking into it, seems like a pretty serious bug.

[2022-04-08 04:42] tristanlatr commented on #29
I've found the docs in the pre-pick guide:

![by default 2022-04-08 at 12 42 03 AM](https://user-images.githubusercontent.com/19967168/162364938-8c016b3d-a5f5-4009-a20c-6c296e63e247.png)

So we're good for the documentation.

[2022-04-08 12:54] nnabuihe-favour commented on #172
Hello @farhanmasud, clearly this problem results from the bootstrap conflicts. clearly Django does not load the bootstrap 3 CSS files on this page because crispy is using bootstrap4. I've figured out a fix for it and that is if i would kindly be assigned the issue.
![les](https://user-images.githubusercontent.com/78615753/162439487-d911781a-d88b-4a1a-aff3-bb6bc476f2dd.png)

[2022-04-08 12:56] ojaragodwin commented on #188
Hello @victorphoenix3 , have you figured out how to workout the harvest/models part

[2022-04-08 12:59] ojaragodwin commented on #188
if you are having any issues kindly let me know how i can help, i am done working on the other filters, though some of them require the harvest/model  and member/model you are going to work on to be done first

[2022-04-08 13:10] farhanmasud commented on #172
@nnabuihe-favour thanks for checking out the issue. Please discuss with @2ynn and @tristanlatr to get this issue assigned to you.

[2022-04-08 13:30] khabdrick opened #206 "Correct login page"
![2022-04-08_14-25](https://user-images.githubusercontent.com/57852546/162445337-ff239b5a-0bca-413d-aff7-dacd5920c7c3.png)

The login page has a placeholder of username instead of email. It caused a bit of confusion at first.

[2022-04-08 13:30] khabdrick commented on #206
I'll like to work on this issue

[2022-04-08 13:49] khabdrick commented on #28
when you said this " include the images in the new property view", do you mean the preview of the images selected when creating a new property?
Also, will there be any limit to the number of images the user can select?
@tristanlatr

[2022-04-08 15:31] tristanlatr commented on #202
Hello @nnabuihe-favour,

that would be a good addition, thanks a lot.

[2022-04-08 15:36] tristanlatr commented on #116
Hello @farhanmasud,

Sorry for the late response, there is a lot to process, I'm sure you have looked at this package closer than me, so if you say that the function `parse_postal_code` better fit our use case, let's go with this.

Would that be necessary if there is proper validation when entering the postal code ?

[2022-04-08 15:45] tristanlatr commented on #20
Hello @tolusolaadeyemi, Thanks for your interest into Saskatoon,

Maybe it does exist in the views, but it's definitely in the database (the model is [`harvest.models.PropertyImage`](https://lesfruitsdefendus.github.io/saskatoon-ng/harvest.models.PropertyImage.html?private=1)).

Looks like there are other image related objects:

<img width="589" alt="by default 2022-04-08 at 11 43 33 AM" src="http

[2022-04-08 15:53] tristanlatr commented on #165
Thanks @richarddushime for the documentation contribution.

Are we good for closing this issue ?

[2022-04-08 15:58] tristanlatr commented on #206
Thanks!

[2022-04-08 16:02] tristanlatr commented on #125
Hello @diananova,

Yes it would be good to have this fixed.

I feel like the form should simply refuse to delete a person that is still linked to an organization and say that a another contact person should be assigned first. It's probably the simplest way to solve that issue.

Since we have no news regarding this issue for more than a week now, I think it's OK if you start working on it as well.

[2022-04-08 16:06] tristanlatr commented on #20
Linked to https://github.com/LesFruitsDefendus/saskatoon-ng/issues/28

[2022-04-08 16:14] tristanlatr commented on #28
Hi @khabdrick, this issue affects the older version of Saskatoon, since the property photo is simply not a part of the view for now, the first step would be to work on that. Then, work on #20.

Not really, I mean showing images in the property page view, no thumbnail previews for now.

No, no buttons heres, only the pictures with a carousel when there are more than one.

<img width="1176" alt="by

[2022-04-08 16:16] tristanlatr opened #208 "Support property images"
The latest version of saskatoon simply doesn't display the property images, that would be a good feature to add before the beginning of the season :)

Realed to #24 and #20.

[2022-04-08 16:18] khabdrick commented on #28
Ohh okay, I'll do this

[2022-04-08 17:54] Codde24 opened #210 "cannot import name 'load_dotenv' from 'dotenv'"
On running my test i get the above import error. I have tried installing the python-dotenv package and uninstalled the dotenv package, but still getting the same error.

[2022-04-08 18:14] farhanmasud commented on #116
@tristanlatr thanks a lot for your feedback. I'll make the changes with `parse_postal_code` for now, I think this will work for our use case. Still I'll keep my eye open if I can find a better solution for this.

With proper validation, we don't need any model changes for now.

I'll finish up the remaining tasks in this issue over this weekend.

[2022-04-08 18:22] farhanmasud commented on #210
@Codde24 I think you'll need [django-dotenv](https://github.com/jpadilla/django-dotenv) for this as the `develop` (as well as `master`) branch uses this package.

Please refer to [#137](https://github.com/LesFruitsDefendus/saskatoon-ng/pull/137).

[2022-04-08 18:26] farhanmasud commented on #210
@Codde24 on a clean new install, `$ pip install .` inside your virtual environment (make sure you are not using any older virtual environment that you have created) should automatically install all the dependencies. [Ref.](https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/INSTALL.md#requirements)

[2022-04-08 20:03] diananova commented on #125
Great, on it!

[2022-04-09 00:17] tristanlatr opened #211 "Include a back home link in error pages"
I ran into this issue trying to login (this instance (saskatoon.lesfruitsdefendus.org) is now using the code in the `prod` branch), probably due because of invalid cache in the browser (or maybe not), this is not really important, because the login was successful anyway.

But it would be good to have a button to come back to the home page included in the default template of the error pages.

<img

[2022-04-09 00:26] tristanlatr opened #212 "Have the tree names aside icons in the property list"
Since not all trees have icons for now, and even if they would, if think it would be good to have the tree names, like in the harvest view.

<img width="755" alt="by default 2022-04-08 at 8 22 46 PM" src="https://user-images.githubusercontent.com/19967168/162548945-5b87f31d-f63d-4cd4-9d65-427e85c0f481.png">

[2022-04-09 02:48] yokwejuste commented on #165
@tristanlatr Still facing same now

[2022-04-09 02:50] yokwejuste commented on #165
I have the same installed on my local machine but still having an error message
![Screenshot from 2022-04-09 03-49-51](https://user-images.githubusercontent.com/71908316/162553747-c7e3301c-d788-448b-993f-f4f8408abff7.png)

[2022-04-09 02:52] yokwejuste commented on #165
Please any suggestion on what i can do so far?

[2022-04-09 02:55] tristanlatr commented on #200
I'm done doing the initial setup, I'll probably add a couple of config tweaks during the week-end.

The current (empty) documentation site can be reviewed here: https://lesfruitsdefendus.readthedocs.io/en/latest/

I'll do a checkup with different members of the core to see if they are OK going forward with this. Then we'll be able to port all content of the PDFs into the their respective `.md` fil

[2022-04-09 04:07] #206 closed

[2022-04-09 10:32] mina-andajos commented on #212
I will work on it 👍

[2022-04-09 13:53] victorphoenix3 commented on #211
@tristanlatr Hi, should we create our own error page and add a back button to it? I can't find a way to edit the default error page in django.
We could point to our custom error page when DEBUG is set to False, in other cases we could point to the default django error page. What do you think?

[2022-04-09 14:01] victorphoenix3 commented on #117
Hi, I would like to work on this issue?

What I am thinking is that instead of hard coding the values in templates, we should introduce a model with the fields that can be edited in the admin panel and then we could render the fields dynamically. Do you think this would work? @2ynn @tristanlatr

[2022-04-09 15:37] tristanlatr commented on #211
Hi @victorphoenix3,

Yes that could work too, if we find a manner to keep the error code information.

Thanks for looking into that

[2022-04-09 15:40] tristanlatr commented on #117
yes this is the plan :) as I mentioned above, please make sure you feel confident to complete this task within the contribution period before working in this.

Talk to you later,

[2022-04-09 19:34] tristanlatr commented on #172
Hi @nnabuihe-favour,

Please go ahead if you know how to handle this issue. But please write a complete description of what you have changed in the PR description :)

Thanks a lot!

[2022-04-10 09:17] richarddushime commented on #165
@yokwejuste if i can see the problem is related to your database settings   check well the name for your databases and other settings  it will work well

[2022-04-10 09:19] richarddushime commented on #165
@yokwejuste i can guide through incasse the problem persists  , tell incasse i will be happy to assisst

[2022-04-10 12:05] khabdrick commented on #28
@tristanlatr please I have an issue here. I could not at least retrieve the images saved, I don't know why.
I have completed all the required settings to display media files, but it's not working, can you help?
![2022-04-10_12-56_1](https://user-images.githubusercontent.com/57852546/162617005-6ae9a272-8633-4730-a5d3-48a4fd1ab53c.png)
![2022-04-10_12-56](https://user-images.githubusercontent.com/57

[2022-04-10 19:45] mina-andajos commented on #21
@tristanlatr @2ynn What do you think? Doing migrations right now won't be suitable for now?

[2022-04-10 21:03] mina-andajos commented on #17
I could work on this too alongside adding comments to properties (#21) if making migrations is ok.

[2022-04-10 21:32] 2ynn commented on #188
thank you so much @victorphoenix3 for your PR, I'll merge it shortly and build off it

[2022-04-10 21:57] 2ynn commented on #21
@mina-andajos you can work on this if you want, migrations are ok. That being said be aware that this PR https://github.com/LesFruitsDefendus/saskatoon-ng/pull/201 is in progress and has migrations for the harvest app.

[2022-04-10 22:49] 2ynn opened #220 "Clarify PropertyCreatePublicView success message"
@tristanlatr when adding a new Property through `/property/create_public/` the `success_message` now returns:
[code]
https://github.com/LesFruitsDefendus/saskatoon-ng/blob/f032e5a9a5b717df43acc4f3ef8e1daed5350016/saskatoon/harvest/views.py#L72

We need to update this as the url seems to be out of date. Is there still such a thing as a Tree Owner Welcome Notice?

[2022-04-10 22:59] 2ynn opened #221 "Fix register owner based on pending property"
in `/person/create/?pid=<pending_property_id>/`

https://github.com/LesFruitsDefendus/saskatoon-ng/blob/f032e5a9a5b717df43acc4f3ef8e1daed5350016/saskatoon/member/views.py#L26

now breaks because phone is no longer a string but a PhoneField: `'PhoneNumber' object has no attribute 'replace'`

To be tested:
[code]

Note: this functionality assumes the owner is a Person, not an Organization. We should

[2022-04-10 23:11] 2ynn opened #222 "Fix PersonCreateForm validation"
`forms.ValidationError` does not show in `PersonCreateForm` when trying to create a new user with duplicate email address

To reproduce,
1. create a new user using an email address that is already taken in the database:
http://localhost:8000/person/create/
2. form does not save but no error message is prompted
3. change the email for a new email address. the form saves properly

[2022-04-11 00:06] 2ynn commented on #188
@ojaragodwin do you still want to submit a pull request to the `Fix-188-Not_all_owners_are_persons` branch for admin filters?

[2022-04-11 05:15] farhanmasud commented on #222
I'm working on the `PublicPropertyForm` validation on [#116](https://github.com/LesFruitsDefendus/saskatoon-ng/issues/116), I'd like to work on this issue since both are related to form validations.

[2022-04-11 06:18] farhanmasud commented on #222
I think I have found the bug. I'm making a PR shortly.

[2022-04-11 06:22] yokwejuste commented on #165
hey @richarddushime ! I don't know if it's the case but will be happy if you provide me some hep

[2022-04-11 07:26] farhanmasud commented on #221
@2ynn I'd like to work on this if you didn't already spend time working on a fix for this (asking as if you've self assigned this). As I worked with the codebase for making the changes with the `PhoneField` I think I can find a fix for this.

[2022-04-11 07:47] ojaragodwin commented on #188
yes @2ynn, i will submit a pull request for that  since we had divided the work i was waiting for @victorphoenix3  to do the models and then i work on the filters i am already working on them, i will submit it

[2022-04-11 10:29] victorphoenix3 commented on #37
@yokwejuste are you working on this? If not, I would like to submit a PR for this since I have already worked with the email notifications codebase.

[2022-04-11 10:30] farhanmasud opened #226 "PublicPropertyForm allows non positive integers for certain fields which causes IntegrityError (500)"
The following fields are defined in the `Property` model as `PositiveIntegerField` but the `PublicPropertyForm` allows non positive integers in the field which causes the form submission to break.

![Screenshot from 2022-04-11 16-23-05](https://user-images.githubusercontent.com/43474661/162720998-4a3f6317-d745-433f-bea4-4fa36b42cdc4.png)

This is applicable for the following fields -

`avg_nb_requ

[2022-04-11 21:26] 2ynn commented on #221
@farhanmasud ok yes please go ahead, I quickly tested and `'phone': p.pending_contact_phone.` will work just fine. You can add the change along with your other PR for issue #222 if you want.

[2022-04-12 07:16] victorphoenix3 commented on #35
Hi, May I submit a PR for this?

[2022-04-12 10:50] khabdrick commented on #28
Never mind, I figured it out.

[2022-04-12 13:25] farhanmasud commented on #221
@2ynn what will be the backend logic for this field? I mean, where we should store the value that user inputs here? Does a new model field need to be created? Or should this value programmatically alter value for some other field (e.g. save a new instance of `Organization` model)?

There is already a property is being developed with the same name `is_organization` as per [#188](https://github.com/

[2022-04-12 13:52] tristanlatr commented on #35
Hello @victorphoenix3, since we don't have news regarding this PR for a good time now, I think you can work on this issue as well. Thanks.

[2022-04-12 16:08] 2ynn commented on #221
@farhanmasud let's leave that aside for now. There are not a lot of organizations that own trees (most are beneficiary organizations) and they can be contacted separately by core members (without using the public form). So it's okay to assume all pending properties are for `Person` owners for now.
That being said I would like to add a safeguard in `PersonCreateForm`: https://github.com/LesFruitsDe

[2022-04-12 16:35] #34 closed

[2022-04-12 17:21] 2ynn commented on #188
@victorphoenix3 @ojaragodwin  I just pushed changes to `Fix-188-Not_all_owners_are_persons`
- changed `name` and `email` for model properties in Actor model
- I think keeping functions with names  like `get_something()` without the property tag.

Let me know if you have any issues with the changes. Thanks!

[2022-04-12 17:56] #210 closed

[2022-04-12 18:01] 2ynn commented on #188
@ojaragodwin I've pushed a PropertyOwnerTypeAdmin filter. I'm sorry but I need to move on with this issue as I need to clean the production database asap

[2022-04-12 18:26] tristanlatr commented on #221
At the current stage of things right, we send this form to our mailing list, not organizations. I think it’s ok to simply add a note saying that this form is for persons with a tree on their property and community organizations should contact us directly.

[2022-04-13 00:25] richarddushime commented on #200
@tristanlatr i would like  to contribute also , After following the links above , i realized that their will be a need of a french documentation also , since i know   , i would be happy  to contribute

[2022-04-13 04:12] tristanlatr commented on #200
Hello @richarddushime, thanks, this is great, we're indeed missing translations in french! But the setup with internationalization is done. If you browse to https://lesfruitsdefendus.readthedocs.io/fr/latest/index.html you'll notice that you can switch lang on the top of the page, this will change the URL to point to the other langage docs page, but since almost nothing is translated for now, the

[2022-04-13 09:43] farhanmasud commented on #221
@2ynn @tristanlatr I have updated accordingly on [this PR](https://github.com/LesFruitsDefendus/saskatoon-ng/pull/224). Please let me know if the updates are correct. Also, I haven't squashed the commits since the 4 commits deal with different parts / functionalities of the codebase.

[2022-04-14 02:16] tristanlatr commented on #157
Hi @mina-andajos, Yes that is a good idea.

[2022-04-14 14:10] 2ynn opened #241 "Adjust Register User button format based on user role"
@tristanlatr  @victorphoenix3  I'm really not a big fan of the big `Register User` button .I am okay to keep a large button for newly added  **core members** and **pickleaders** but here it's an invitation to set a password for owners and volunteer pickers, which is not what we want to do at the moment (for this season at least).
So I'd suggest either we go back to something more subtle or we at l

[2022-04-14 14:27] victorphoenix3 commented on #241
Will submit a PR to fix this as you see fit

[2022-04-14 14:53] tristanlatr opened #242 "Have a link to the property record from the harvest record"
![by default 2022-04-14 at 10 51 30 AM](https://user-images.githubusercontent.com/19967168/163416136-0d309f40-1043-43e6-bad8-7157fe25acdd.png)

The street address should be a link, that would increase usability.

[2022-04-14 14:55] tristanlatr opened #243 "Remove useless chart in harvest page"
![by default 2022-04-14 at 10 54 39 AM](https://user-images.githubusercontent.com/19967168/163416797-cf2b8ddf-d39d-4321-b50d-1fa3923a626b.png)

[2022-04-14 15:20] 2ynn commented on #241
So yes I'd say let's only show the button if the user belongs to either the `core` or `pickleader` auth groups (the `roles` field is already passed to `CommunitySerializer`)
And let's do the same for the `reset-password` circular arrows.
(Both still need the `member.change_authuser` permission)

[2022-04-14 15:55] tristanlatr opened #245 "Add simple "calendar/" alias"
Seems like https://saskatoon.lesfruitsdefendus.org/calendar works but not https://saskatoon.lesfruitsdefendus.org/calendar/ would be good to have them both working.

[2022-04-14 16:04] tristanlatr commented on #245
@mina-andajos please go ahead.

[2022-04-14 16:39] #212 closed

[2022-04-14 17:08] tristanlatr opened #247 "Issue loading fixture, while calling notify_pending_status_update()"
From what I understand, looks like this function is being called when loading the fixture generating an error because the object is not in the database at this moment.

See the traceback here: https://github.com/LesFruitsDefendus/saskatoon-ng/discussions/240#discussioncomment-2568292

@victorphoenix3, would you be OK looking at this since you are familiar with this code?

Thanks,

[2022-04-14 18:13] tristanlatr commented on #247
I've been able to reproduce this issue inside the github action runner:

[code]

[2022-04-14 18:13] tristanlatr commented on #247
see #250

[2022-04-14 19:33] mina-andajos opened #252 "Harvest Detail View failing to load because of a template loading error"
![image](https://user-images.githubusercontent.com/52796958/163462922-7f3182cd-7d26-4ce5-b536-89f772548a6f.png)
the templates aren't using `{% load i18n %}` which is causing an issue. I'm working on this issue right now.

[2022-04-14 19:34] mina-andajos commented on #252
Traceback:
[code]

[2022-04-14 19:39] mina-andajos commented on #252
Looks like the problem is caused by afc293568eda73f238d022c3818498dcdfd3496c that was fixing translations.

[2022-04-14 19:47] tristanlatr commented on #252
Fixed in #246, please go ahead and approve my PR, I'll be able to merge it after :)

[2022-04-14 19:53] mina-andajos commented on #252
@tristanlatr sorry didn't notice you've opened a PR already

[2022-04-14 19:55] #252 closed

[2022-04-14 20:28] #226 closed

[2022-04-14 20:28] #245 closed

[2022-04-14 20:31] tristanlatr commented on #199
Hello @vaishnavi-gupta18,

Since it's been a week with no news, I'll remove your assignment from this issue such that other contributors can look at this issue.

Thanks for your understanding,

[2022-04-15 03:15] ejangphoebe00 commented on #242
@tristanlatr can i be assigned this issue?.

[2022-04-15 04:16] 2ynn commented on #247
@tristanlatr I think it must have to do with the fact I merged victorphoenix3's branch with `notify_status_pending` into develop instead of the feature branch I'm working on. Let me merge  #234 first, it should fix the issue

[2022-04-15 04:19] 2ynn commented on #247
concerning loading initial fixtures I suggest you run the `saskatoon/fixtures/init` script instead.  I don't think we should keep maintaining `saskatoon.json`.

[2022-04-15 04:57] tristanlatr commented on #242
Hello @ejangphoebe00, sorry but I think this issue has already been worked on.

[2022-04-15 04:59] ejangphoebe00 commented on #242
could you assign me a new issue?.. i have looked through the issue tracker and all i  have seen have been solved

[2022-04-15 05:02] 2ynn commented on #247
By the way on the develop branch it doesn't seem possible to start from a fresh database anymore.
I think It has to do with:
[code]

[2022-04-15 05:39] 2ynn commented on #247
fixed in #234

[2022-04-15 05:39] #188 closed

[2022-04-15 09:23] rdotjain opened #256 "Family Name is None"
While registering a user, if the family name is left blank, the user is displayed as <First_Name> None. It would be nice to display just the first name if the family name is None.

<img width="1292" alt="image" src="https://user-images.githubusercontent.com/71973975/163553016-6128f2f2-9fe2-4b0b-958c-750dae18f2ba.png">

[2022-04-15 09:25] ejangphoebe00 commented on #256
@tristanlatr can i take on this issue

[2022-04-15 09:35] rdotjain commented on #256
hi @ejangphoebe00, I am working on this.

[2022-04-15 13:37] asaayushisingh opened #257 "Responsive Error"
### Problem
**The website view is not responsive on different screen resolutions**

https://user-images.githubusercontent.com/67657066/163577305-36e2566d-daa5-4d56-9260-b722b0eab01e.mp4

[2022-04-15 13:39] asaayushisingh commented on #257
Hey! @lesfruits  can i work on this ?

[2022-04-15 14:47] #222 closed

[2022-04-15 14:52] 2ynn commented on #221
thanks @farhanmasud works great

[2022-04-15 14:52] #221 closed

[2022-04-15 17:10] ejangphoebe00 opened #258 "The new request button should be hidden incase requests are not open i suggest"
![page](https://user-images.githubusercontent.com/40600865/163600076-0f2d76d3-80bd-45d3-9df6-6eb7891ec42a.PNG)
![pickers](https://user-images.githubusercontent.com/40600865/163600062-552dea14-e17f-4bbb-89f1-8bcb35150628.PNG)

[2022-04-15 17:11] ejangphoebe00 commented on #258
@tristanlatr am adding a PR for this

[2022-04-15 18:25] tristanlatr opened #260 "Add autocomplete widgets to /admin/harvest/property/ form"
More specifically in the edit view of Properties: we'd like to have an Actor autocomplete owner drop down.

[2022-04-15 18:30] tristanlatr opened #261 "Update and maintain fixtures from prod server"
The auth user groups are currently off, we need to re export the fixtures from the prod server.

[2022-04-15 18:37] tristanlatr opened #262 "Add an admin action to set status "Not yet authorized" to selected properties"
Every seasons we reset the status to bunch of properties to "Not yet authorized", having an admin action for that would be good.

[2022-04-15 18:44] ejangphoebe00 commented on #262
@tristanlatr assign me this issue

[2022-04-15 18:53] tristanlatr opened #263 "Get rid of fixture saskatoon.json"
We should check if it appear in the docs and replace it with usage of the `loaddata` script.

[2022-04-15 18:54] tristanlatr commented on #262
Hello @ejangphoebe00, please go ahead with this issue. Thanks.

[2022-04-15 20:19] #247 closed

[2022-04-15 20:52] tristanlatr commented on #11
- Equipments points must have their own list view in saskatoon instead of being part of the documentation
- Add equipment field in Harvest record, if it's not None, it appears in the calendar view
- A equipment cannot be borrowed in the same timechunck
- Should we reuse the equipment list or create a completely new models?
- Should it integrate wit a map see #5

[2022-04-15 20:53] tristanlatr opened #265 "Having a proper logging system"
We can use the standard `logging` module.

[2022-04-15 20:58] tristanlatr opened #266 "Property filters should match status name"
Currently it show "Yes", "No" and "Unknown". Where we should read, depending on the status field, each statuses names + "All".

So for instance for the authorization status: "Authorized", "Not Yet authorized", "Not authorized" and "All".

[2022-04-15 21:14] tristanlatr commented on #15
This view could contains information about the user groups, have a link to change the password there instead of from the main menu.

- Have the possibility to edit it's Person / Organization (+ contact person) / Property record (we should not allow to edit the address of the property, we should invite people to create a new property with the public form).

- Have a list of all the harvest that the

[2022-04-15 21:17] tristanlatr opened #267 "Ensure autocomplete="off" for all date pickers"
This prevents a glitch where both the date-time chooser and browser autocomplete would appear.

[2022-04-15 21:18] #141 closed

[2022-04-15 21:20] tristanlatr commented on #23
Linked to #262

[2022-04-15 22:44] tristanlatr opened #268 "Fix django.db.utils.IntegrityError: FOREIGN KEY constraint failed loading init fixures"
The workaround would be to re-generate all the fixtures.

[code]

[2022-04-15 23:00] 2ynn commented on #268
@tristanlatr I found the issue

The property depends on TreeType (property 3 has trees 9 and 14), so `harvest-treetype` must be loaded before `harvest-property`

![screenshot_2022-04-15_19:03:05](https://user-images.githubusercontent.com/41802320/163650969-ba6be928-7ce5-4c07-9872-564664c46e7e.png)

Can you please test and add the change? Thanks!

[2022-04-15 23:04] 2ynn commented on #266
@tristanlatr actually `authorized` is a boolean field so the current filter makes sense.
Where did you see the "Not authorized yet" ?

[2022-04-15 23:51] tristanlatr commented on #266
Arf.. maybe it’s a Boolean optional field, so None is allowed ?
Because I’m ready this in the guides: https://lesfruitsdefendus.readthedocs.io/en/latest/pre-pick-guide/annexes/D-using-the-property-list.html#authorization-status

[2022-04-16 04:03] tristanlatr commented on #268
It worked! Thanks @2ynn :)

[2022-04-16 13:54] victorphoenix3 commented on #265
Hi, I am familiar with `logging` module. I'd like to work on this issue.

[2022-04-16 13:56] victorphoenix3 commented on #267
Hi, May I work on this?

[2022-04-16 15:25] tristanlatr commented on #267
Hi @victorphoenix3, yes please go ahead. Thanks

[2022-04-16 16:13] #268 closed

[2022-04-16 21:12] mina-andajos commented on #22
I would like to work on this

[2022-04-17 19:55] Akanksha2403 commented on #267
Hi, may I work on this??

[2022-04-17 20:01] victorphoenix3 commented on #267
@Akanksha2403 I am already working on this. Maybe you could work on some other issue?

[2022-04-18 06:19] sophiessa commented on #260
I can see an autocomplete drop down, is the issue solved. If not solved yet, could you clarify it?

[2022-04-18 15:12] tristanlatr commented on #260
Yes there are drop down in the front end, edits property page. But there is no autocomplete in the admin panel. This issue is about the admin panel.

hope it’s more clear now.

[2022-04-18 19:03] mina-andajos commented on #22
@tristanlatr How about this design:
on the dashboard we include:
- total successful harvests
- number of trees harvested
- total yield collected
    - total yield this season
- links for current harvests
- Include info@lesfruitsdefendus.org email on landing page.
- Include tech@lesfruitsdefendus.org for saskatoon and other tech bugs.
------------------
And a link to the stats page, but filtered fo

[2022-04-19 00:47] #242 closed

[2022-04-19 00:47] #243 closed

[2022-04-19 15:34] mina-andajos opened #274 "Reverse all hard-coded urls"
Many templates have hard-coded urls. like lines 5 & 9 in `app/detail_views/property/harvest_row.html`:

![image](https://user-images.githubusercontent.com/52796958/164041320-02d645fb-4910-46ff-982a-8f4d11973ff0.png)

Which is not good for portability.

[2022-04-19 20:39] tolusolaadeyemi commented on #208
hello @tristanlatr, could I work on this issue?

[2022-04-19 21:35] tolusolaadeyemi commented on #28
@tristanlatr, I see that this issue is connected with #208 and #20, I have been able to add an 'Add Image Button' as well as create a view for it, my current dilemma moving forward is whether to find a way to integrate this with the PropertyUpdateView or leave it as a separate view. I have added screenshots below. Thanks very much
![Screen Shot 2022-04-19 at 10 31 32 PM (2)](https://user-images.gi

[2022-04-21 21:40] mina-andajos opened #278 "Add pre-commit hooks"
We could use some pre-commit hooks for formatting changes, checking for pep8 violations and unused variables, etc..

--------
We could add hooks like:

- black/autopep8/yapf for formatting changes (black probably won't work because it has to format the whole file, but I will check that)
- isort for alphabetically sorting and organizing imports by sections
- flake8 for linting

[2022-04-26 23:55] #211 closed

[2022-05-10 00:21] 2ynn commented on #262
@ejangphoebe00 have you made some progress on this? Otherwise I'll take over this because we need it done soon. thanks!

[2022-05-10 02:06] ejangphoebe00 commented on #262
okay @2ynn

[2022-05-10 17:53] mina-andajos opened #284 "Add PickLeaderSerializer"
Adding a `PickLeaderSerializer` will be more modular and useful when serialzing the harvests' pickleader data.
Related to https://github.com/LesFruitsDefendus/saskatoon-ng/pull/239#issuecomment-1120064780

[2022-05-11 16:32] #37 closed

[2022-05-13 12:50] #241 closed

[2022-05-13 12:51] #266 closed

[2022-05-13 12:54] #261 closed

[2022-05-13 13:17] 2ynn opened #289 "Add email field to PersonUpdateForm"
Currently core members have to use the admin panel to edit an auth_user's email address.

Adding an extra `email` field to PersonUpdateForm (similar to PersonCreateForm) will solve this.

[2022-05-13 16:51] #289 closed

[2022-05-19 14:19] 2ynn opened #292 "Help clean up Actor/AuthUser/Person inconsistencies in prod database"
Many contact persons aren't associated with any authuser, meaning they have no email address set.
TODO
- [x] add link to authuser in Person admin panel list display
- [x] add admin action in Person admin to create/associate person with authuser using dummy email
- [x] add filter to identify Persons with no AuthUser in PersonAdmin
- [x] improve Organization admin page to display contact person
- [x

[2022-05-19 16:32] #284 closed

[2022-05-19 16:44] mina-andajos commented on #260
Is this the dropdown you mean?

![image](https://user-images.githubusercontent.com/52796958/169353863-4e990079-dc23-4329-9b0d-82a594c00693.png)

[2022-05-19 18:47] mina-andajos commented on #199
Hello @tristanlatr
I would like to work on this issue.

[2022-05-19 18:52] tristanlatr commented on #199
That would be great, thanks.

[2022-05-19 22:06] tristanlatr opened #293 "Fix the 'buckets' links to the harvests from the property list"
Previous harvests link doesn’t work under Properties -> Click on the buckets -> Error message
![by default 2022-05-19 at 6 06 12 PM](https://user-images.githubusercontent.com/19967168/169412391-70bc1122-6a5b-413d-a2b2-f60c3efe15c5.png)

[2022-05-21 19:47] #274 closed

[2022-05-21 20:56] 2ynn commented on #293
Fixed by #276

[2022-05-21 20:56] #293 closed

[2022-05-21 20:59] 2ynn opened #297 "Address minor issues reported by core"
- [x] clarify harvest list vs similar properties table in Property view
- [x] add Additional info title
- [x] success message in HarvestUpdateView assumes pick_leader is not None
- [x] validation errors are not raised on HarvestCreateForm

[2022-05-22 23:06] tristanlatr commented on #260
Hello @mina-andajos,

Yes it's exactly this one,

Talk to you later,

[2022-05-26 20:13] tristanlatr opened #299 "Add translations to the list views columns"
Special care should be taken while translating those such that it matches our current french documentation.

[2022-05-31 00:48] #292 closed

[2022-05-31 00:48] #297 closed

[2022-05-31 00:49] #125 closed

[2022-06-01 18:18] mina-andajos commented on #35
I believe we could use [celery](https://docs.celeryq.dev/en/latest/django/first-steps-with-django.html) as a scheduler for this issue

[2022-06-02 00:08] 2ynn opened #300 "PickLeaderAutocomplete should return AuthUser, not Person"
pick_leader field in `harvests/models/Harvest` is an `AuthUser` instance (not Person) so `PickleaderAutocomplete` should not subclass PersonAutocomplete.

This explains bug reported by pickleaders where after adopting a harvest another name would appear.

[2022-06-02 14:24] #115 closed

[2022-06-02 14:29] #157 closed

[2022-06-03 15:34] mina-andajos opened #302 "Apply Email Integration"
I believe [this guide](https://dev.to/abderrahmanemustapha/how-to-send-email-with-django-and-gmail-in-production-the-right-way-24ab) is to the point and suitable to the new changes google made. @2ynn I believe you have created a google account right?

[2022-06-03 19:00] mina-andajos opened #305 "Refactor HarvestSerializer"
## Type of Issue: **Code refactor**

## Expected Behavior:
- The `HarvestViewset` should use solely the `HarvestSerializer`

## Current Behavior:
- It's using the serializer and lots of custom data outside the serializer.

## Screenshots/ Code Snippets:
1. https://github.com/LesFruitsDefendus/saskatoon-ng/blob/f73b62ee643d4b5c5a4a58cbd847eb9e365263c0/saskatoon/harvest/api.py#L58-L66

## Related UR

[2022-06-04 15:25] mina-andajos commented on #305
Response output:
[code]

[2022-06-04 15:57] mina-andajos commented on #305
### Tasks:

- [ ]  requests
- [ ] distribution
- [ ] comments
- [ ] property
- [ ] pickers
- [ ] organizations

[2022-06-04 16:00] mina-andajos commented on #305
[code]

[code]

[2022-06-09 16:15] mina-andajos opened #307 "Integrate Django REST Debugging Interface"
## Type of Issue: **Feature request**

## Expected Behavior:
- Have an option to easily switch between using templates and using the provided DRF testing interface.
## Current Behavior:
- Not implemented.

## Screenshots/ Code Snippets:
1. Something like this:
![image](https://user-images.githubusercontent.com/52796958/172894826-ef51cafa-1f4d-4dfe-a838-ff38506a679c.png)

## Related URLs:
e.g. `htt

[2022-06-09 17:15] mina-andajos commented on #307
I'm running into another issue related to un-serializable objects. Going to fix those first.

[2022-06-09 17:26] mina-andajos opened #308 "Fix Some Unserializable Objects are returned when requesting a JSON url"
## Type of Issue: **Bug report** | Related to #307

## Steps to Reproduce:
- Visiting a URL in the JSON format.

## Expected Behavior:
- Display JSON output normally

## Current Behavior:
[code]
Getting this behavior with many URLs, I believe it's a problem with serializers outputing Model objects instead of primitive types. [Here's a similar issue on Stack Overflow](https://stackoverflow.com/ques

[2022-06-09 18:43] mina-andajos commented on #308
Found Out the problem with `PersonSerializer`, some fields return querysets.

[2022-06-11 19:31] 2ynn opened #311 "Fix and improve owner's email editing in PersonUpdateForm"
TODO

- [ ] Fix `ERROR: email address < ... > is already registered!` raised by  `validate_email` in `PersonUpdateForm.clean` when editing an owner that already has an email address (at the moment it must be changed for the form to save).
- [ ] Allow core members to create a new AuthUser by filling the email field (must be blank=True)

[2022-06-17 03:55] #311 closed

[2022-06-17 05:42] #308 closed

[2022-06-17 05:54] #305 closed

[2022-06-18 11:42] 2ynn opened #315 "Publication date does not get set when saving HarvestForm"
## Type of Issue: **Bug report**

On server, `publication_date` is always None no matter what harvest status is

## Steps to Reproduce:
1. Edit a harvest: using HarvestForm,
3. On save, publication_date (hidden input field) should be set to `now` if status is [ready, scheduled or succeeded] (see `harvest.forms.HarvestForm.clean_publication_date`
4. Go to admin panel to check if the publication_dat

[2022-06-19 13:17] mina-andajos opened #318 "Refactor list functions in Viewsets"
## Type of Issue: `Code refactor`

## Steps to Reproduce:
- Visit a list view page.

## Expected Behavior:
- Fully serialized response that works with DRF browsable API.

## Current Behavior:
- On http://localhost:8000/harvest for example
    - Browsable api enabled: I get this error: https://github.com/LesFruitsDefendus/saskatoon-ng/pull/317#issuecomment-1159702406
    - Normal html response uses

[2022-06-19 13:54] mina-andajos commented on #318
## Tasks:
1- Add 'new' to the `response.data` of the serializers.
2- refactor `get_filter_context()`

[2022-06-19 19:06] #315 closed

[2022-06-20 12:48] #302 closed

[2022-06-21 00:51] tristanlatr opened #319 "Fix links to guides and host PDF on saskatoon"
https://github.com/LesFruitsDefendus/saskatoon-ng/blob/cbe7dd649f713ef57604a2033e76d7b748969c31/saskatoon/sitebase/templates/app/index/pickleader.html#L15

The guide can now be viewed online at https://lesfruitsdefendus.readthedocs.io/fr/latest/ (French) and https://lesfruitsdefendus.readthedocs.io/en/latest/ (English)

Just the PDF of the equipment list should be hosted on saskatoon itself and on

[2022-06-21 13:51] mina-andajos commented on #318
hi @2ynn,
I'm running into a problem with the listviews context:
in the `CommunityViewset` for example:

[code]
---------------------
To enable the **html filtering** in DRF browsable api, I have to return **only the serializer output**:
![image](https://user-images.githubusercontent.com/52796958/174813654-176b1183-e668-4df7-bbaf-8a23e5689bb2.png)
-------------------
So when it comes to `'new'` (d

[2022-06-21 18:17] 2ynn commented on #318
for example you could do something like this:
[code]

[2022-06-22 01:28] 2ynn opened #321 "Revert PR#320 + PR#396: remove default filters in menu links + reset redirects"
## Type of Issue: **Code refactor**

Revert PR #320:

Default filters were hardcoded to access list views from Menu buttons to try and reduce loading time.
Some might not be relevant in the long run. See "TODO" comments to revert back to original links.

[2022-06-22 17:40] mina-andajos commented on #318
hi @2ynn ,

1- I tried the `to_representation()` before, it does the same thing as adding a new method field, it adds `'new'` to every instance in the serializer output:
[code]
2- I also found that the JSON list response of the serializer doesn't work with the HTML templates as they expect a dict.
![image](https://user-images.githubusercontent.com/52796958/175101319-430442f3-ea4a-4472-a8ca-06eb656

[2022-06-23 15:27] mina-andajos opened #322 "Make Serializers Lighter"
## Type of Issue: `Enhancement`

## Current Behavior:
- In most pages, there are a lot of unnecessary queries being made, mainly due to using nested serializers everywhere which can be optimized (refer to screenshots).

## Screenshots/ Code Snippets:
1. `/property/`
![image](https://user-images.githubusercontent.com/52796958/175335897-a9da2071-44c5-4351-87dc-e9c284ccf6e9.png)

2. `/harvest/`
![ima

[2022-06-23 16:38] tristanlatr opened #324 "Include individuals "Pick leader notes" in the selection notification emails to pickers"
## Type of Issue: **Feature request**

Not a high priority but it could help to "bring people closer together" ;)

## Steps to Reproduce:
- Create a harvest, mark the harvest as "Date scheduled"
- Create request for participation
- Reject it with some notes
- Mark the harvest as "Ready"
- See the emails sent to the picker

## Expected Behavior:
- The body of the email contains an additionnal secti

[2022-06-30 16:49] 2ynn opened #331 "recipient-select in Fruit Distribution form does not return Actors"
**Bug report**

recipient field in HarvestYield model is an actor

In `harvest/api.py` the pickers array contains AuthUser (pick_leader) + Persons (pickers). This need to be fixed, i suggest we pass:
picker = [harvest.pick_leader.person] + [...] instead so they are all persons.

in `templates/app/detail_views/harvest/distribution/recipient_select.html` we should pass the actor pk.
- Owner: it is a

[2022-07-02 12:41] mina-andajos commented on #331
@2ynn If I understood you correctly, the forms should be passed to the harvest detail view context right?

[2022-07-02 20:09] 2ynn commented on #331
@mina-andajos  yea sorry for the confusion. For the "inlline" create/delete fruit distribution (in harvest detail view) I have not actually passed a proper form to the context, only a list of potential recipients.
We could start by simply passing these recipients along with the serialized data and call the `harvest_yield_create/delete` views from the template as we do now. No need to pass an actua

[2022-07-02 20:10] #331 closed

[2022-07-13 12:04] mina-andajos opened #336 "Speed Up Harvest Detail View"
## Type of Issue: **Code refactor**

## Steps to Reproduce:
- Visit a harvest detail page.

## Expected Behavior:
- Pages should load as fast or faster than list views.

## Current Behavior:
- taking much more time and queries to load.

## Screenshots/ Code Snippets:
1.
![image](https://user-images.githubusercontent.com/52796958/178728560-af5707bb-dcc9-4b4e-8233-7ad7dfd8fa69.png)

## Related URLs:

[2022-07-13 12:20] mina-andajos opened #337 "Speed up Equipment List View"
## Type of Issue: **Code refactor**

## Current Behavior:
- equipment list view is using the full property serializer which makes loading the equipment much slower.

## Screenshots/ Code Snippets:
1.
![image](https://user-images.githubusercontent.com/52796958/178732011-ff8bffee-cae5-4ab8-8b65-c2ac17eb880b.png)

## Related URLs:
http://127.0.0.1:8000/equipment/

[2022-07-13 13:46] mina-andajos commented on #336
**This issue is on the `develop` branch, it loads quickly on `master`.

[2022-07-17 17:26] #336 closed

[2022-07-18 13:13] #337 closed

[2022-07-20 14:12] mina-andajos commented on #55
@2ynn @tristanlatr I believe we could work on this after merging #340.

I believe what's needed to be done will be:
- Add [limit offset pagination](https://www.django-rest-framework.org/api-guide/pagination/#limitoffsetpagination) (I suggest using this instead of [page number pagination](https://www.django-rest-framework.org/api-guide/pagination/#pagenumberpagination) because users can specify the

[2022-07-20 21:22] tristanlatr opened #341 "Make rosetta UI accessible to core members as well (not just admins)"
https://github.com/LesFruitsDefendus/saskatoon-ng/blob/2e04208a41a424fbfe723a970481c6b72b423b53/saskatoon/saskatoon/urls.py#L15

The "Manage Translations" button appear but it seems that core members can't access the page.

@mina-andajos could you look into this issue ?

[2022-07-20 21:30] mina-andajos commented on #341
@tristanlatr sure!
i should base it off of master correct?

[2022-07-21 12:33] mina-andajos commented on #341
@tristanlatr
accessing the site as core user only
not staff/superuser/admin
![image](https://user-images.githubusercontent.com/52796958/180214031-23a069f2-73a8-4896-8a22-bd3168f725eb.png)
i don't see the button.

I also don't get access to the rosetta page
![image](https://user-images.githubusercontent.com/52796958/180214183-2b5bb7e1-c98b-452e-9fd2-ca330176e7ee.png)

----------------------
I shoul

[2022-07-21 12:44] mina-andajos commented on #341
I noticed that core members can add persons, is this an intended behavior?
I don't have access to the rest of the links though as a core member

![image](https://user-images.githubusercontent.com/52796958/180216152-90992bb4-f99a-47eb-9ef0-b449f77abd92.png)

[2022-07-21 14:41] 2ynn commented on #55
as discussed `page_size` query param can be used by default with `PageNumberPagination`.
Otherwise you can subclass it like this:

[code]

[2022-07-24 11:23] mina-andajos commented on #341
yeah just checked the rosetta docs, i believe the server should be able to auto-reload to apply the new changes?
You don't want to push to git from the server right?
![image](https://user-images.githubusercontent.com/52796958/180644716-58f07873-5cd4-42b0-b535-ef3093a47d7b.png)

[2022-08-04 14:26] #319 closed, assigned to nobody

[2022-08-04 14:47] mina-andajos opened #343 "Add Statistics link to site header"
## Type of Issue: **Feature request**

## Expected Behavior:
- Show link on the site's header, maybe the dropdown in screenshot below.

## Screenshots:
1.
![image](https://user-images.githubusercontent.com/52796958/182876527-06f8f869-20ab-4cc6-b33d-93117cbd99ef.png)

## Related URLs:
http://localhost:8000/

[2022-08-04 14:47] mina-andajos commented on #343
@tristanlatr @2ynn should it be like in the screenshot? or somewhere else?

[2022-08-04 14:53] 2ynn commented on #343
there used to be links in menu.html but we hid them

https://github.com/LesFruitsDefendus/saskatoon-ng/blob/develop/saskatoon/sitebase/templates/app/base/menu.html#L33

[2022-08-04 15:19] 2ynn opened #344 "Set up logging"
## Type of Issue: **Feature request**

Set up logging:
- console logging (DEBUG level)
- 1 file (WARNING level) for django warnings/errors
- at least 1 file (INFO level) using TimedRotatingFileHandler, e.g. for keeping track of emails sent or background tasks

## Related URLs:
https://docs.djangoproject.com/en/4.0/topics/logging/

[2022-08-04 21:25] mina-andajos commented on #343
Users should be of group admin correct?

[2022-08-04 22:36] 2ynn commented on #343
@mina-andajos it should match the permissions you enforce when accessing the satistics page, so 'core' or 'admin'

[2022-08-24 14:10] tristanlatr opened #348 "Fix Typo"
## Type of Issue: **Bug report**

## Steps to Reproduce:
See https://github.com/LesFruitsDefendus/saskatoon-ng/pull/347/files#r950910622

## Expected Behavior:
- Correct english and update translations

## Current Behavior:
- Incorrect english

[2022-08-31 02:09] tristanlatr opened #349 "Fix server error on person update form"
## Type of Issue: **Bug report**

## Steps to Reproduce:
- go to the url /person/update/49
- select owner role
- add an email
- press save
- See the 500 error

## Expected Behavior:
- person updated successfully and missing auth user is created.

## Current Behavior:
- it crashes

[2022-08-31 15:20] #341 closed, assigned to nobody

[2022-08-31 16:18] mina-atef-00 opened #350 "Implement REST Ordering & Search"
## Type of Issue: **Feature request**
related to: #55 #346

## Steps to Reproduce:
- Visit a list page (e.g harvest list view)

## Type of Issue: **Feature request**

## Steps to Reproduce:
- Visit a list page (e.g harvest list view)

## Expected Behavior:
- Have the Search & Ordering RESTFUL and use query paramateres for filtering results.

## Current Behavior:
- The search & ordering are using t

[2022-09-10 22:36] 2ynn opened #353 "Serve "Tree Owner Welcome Notice" PDF statically"
Feature request

## Issue
`PropertyCreatePublicView` success_message contains an out of date link to a Tree Owner Welcome Notice.

## Expected Behavior:
PDF document should be served statically in a similar way as EquipmentPointsPDFView and VolunteerWaiverPDFView (see sitebase/views.py)

## Related URLs:
property/thanks/